<template>
    <div>
        <preloader v-if="loading"/>

        <template v-else>
            <my-header/>

            <transition name="fade" mode="out-in">
                <!--<keep-alive>-->
                    <router-view></router-view>
                <!--</keep-alive>-->
            </transition>

            <my-footer></my-footer>
        </template>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import Preloader from "./site/layouts/Preloader";
    import MyHeader from "./site/layouts/MyHeader";
    import MyFooter from "./site/layouts/MyFooter";

    export default {
        components: {Preloader, MyHeader, MyFooter},
        metaInfo: {
            title: 'Добро пожаловать в ресторан RestOne',
            titleTemplate: '%s | RestOne'
        },
        mounted() {
            this.getUser();
            this.getCart();
            this.getItems();
        },
        computed: {
            ...mapGetters([
                'userLoading',
                'cartLoading',
                'itemsLoading',
            ]),
            loading() {
                return this.userLoading
                    || this.cartLoading
                    || this.itemsLoading
            }
        },
        methods: {
            ...mapActions([
                'getUser',
                'getCart',
                'getItems',
            ]),

        }
    }
</script>

<style scoped lang="scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .1s ease;
    }
    .fade-enter, .fade-leave-to{
        opacity: 0;
    }
</style>