body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .admin_sidebar {
  z-index: 2;
  position: relative;
  min-width: 240px;
  background-color: #eee;
  border-right: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

@media screen and (max-width: 960px) {
  section .admin_sidebar {
    position: fixed;
    top: 0;
    left: -240px;
  }

  section .admin_sidebar.show {
    left: 0;
  }
}

section .admin_sidebar .admin_sidebar__button {
  position: absolute;
  display: none;
  top: 15px;
  right: -54px;
  width: 44px;
  height: 44px;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #555;
  font-size: 26px;
  line-height: 44px;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  section .admin_sidebar .admin_sidebar__button {
    display: block;
  }
}

section .admin_sidebar .admin_sidebar__button:hover {
  color: #000;
}

section .admin_sidebar .admin_sidebar__button .close {
  display: none;
}

section .admin_sidebar ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

section .admin_sidebar ul::-webkit-scrollbar {
  width: 0;
}

section .admin_sidebar ul li {
  border-radius: 3px;
}

section .admin_sidebar ul li.active,
section .admin_sidebar ul li:hover {
  background-color: #ddd;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

section .admin_sidebar ul li.active a,
section .admin_sidebar ul li:hover a {
  color: #f76341;
}

section .admin_sidebar ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 10px 15px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

@media screen and (max-width: 780px) {
  section .admin_sidebar ul li a {
    margin: 5px 2px 0;
  }
}

section .admin_sidebar ul li a:hover {
  color: #f76341;
}

section .main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

section .main header {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #ddd;
  background-color: white;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .main header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 25px;
}

section .main header .top h1 {
  font-size: 30px;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 960px) {
  section .main header .top h1 {
    margin-left: 46px;
  }
}

section .main header .top h1 span {
  color: #f76341;
}

section .main header .top a {
  text-decoration: none;
  color: #363636;
  font-weight: 600;
  margin-left: 15px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

section .main header .top a:hover {
  color: #f76341;
}

section .main header .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

section .main header .bottom .breadcrumb {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

section .main header .bottom .breadcrumb-item {
  list-style: none;
}

section .main header .bottom .breadcrumb-item::after {
  padding: 0 10px;
  content: '>';
}

section .main header .bottom .breadcrumb-item a {
  text-decoration: none;
  color: #363636;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

section .main header .bottom .breadcrumb-item a:hover {
  color: #f76341;
}

section .main header .bottom .breadcrumb-item.active {
  color: #f76341;
}

section .main header .bottom .breadcrumb-item.active::after {
  padding: 0;
  content: none;
}

section .main header .bottom .add,
section .main header .bottom .delete {
  display: block;
  padding: 4px 8px;
  color: #363636;
  border: 1px solid #999;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

section .main header .bottom .add:hover,
section .main header .bottom .delete:hover {
  color: #f76341;
  border: 1px solid #f76341;
}

section .main header .bottom .add::before {
  font-family: FontAwesome;
  content: '\F067   ';
}

section .main header .bottom .delete::before {
  font-family: FontAwesome;
  content: '\F1F8   ';
}

section .main .content {
  padding: 15px;
}

section .main .content .success {
  width: 100%;
  padding: 5px;
  background-color: #9dffa1;
  text-align: center;
  margin-bottom: 15px;
}

section .main .content .error {
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: #ffbd99;
  margin: 0 0 5px 0;
  color: #620b1a;
}

section .main .content .info-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

section .main .content .info-items .info-item {
  background-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
}

@media screen and (max-width: 1200px) {
  section .main .content .info-items .info-item {
    width: calc(33.33333333% - 30px);
  }
}

@media screen and (max-width: 780px) {
  section .main .content .info-items .info-item {
    width: calc(50% - 30px);
  }
}

section .main .content .info-items .info-item:hover {
  border-color: #f76341;
}

section .main .content .info-items .info-item:hover .info {
  color: #f76341;
}

section .main .content .info-items .info-item .title {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  section .main .content .info-items .info-item .title {
    font-size: 15px;
  }
}

section .main .content .info-items .info-item .info {
  margin-top: auto;
  text-align: center;
  font-weight: 700;
  font-size: 90px;
  color: #888;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

@media screen and (max-width: 960px) {
  section .main .content .info-items .info-item .info {
    font-size: 70px;
  }
}

section .main .content .info-items .info-item .info .active {
  color: #7dd185;
}

section .main .content .info-items .info-item .info .inactive {
  color: #888;
}

section .main .content .info-items .info-item a {
  text-decoration: none;
  font-size: 600px;
}

section .main .content table {
  width: 100%;
  font-size: 14px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

section .main .content table th,
section .main .content table td {
  border-right: 1px solid #ccc;
  padding: 6px;
}

section .main .content table th.small,
section .main .content table td.small {
  text-align: center;
  width: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .main .content table th {
  background-color: #ddd;
  font-weight: 600;
  text-align: center;
}

section .main .content table tr:nth-child(2n+1) {
  background-color: #eee;
}

section .main .content table tr.active {
  background-color: #b0ffbc;
  border: 1px solid #ccc;
}

section .main .content table a {
  text-decoration: none;
  color: #f76341;
  font-weight: 600;
  font-size: 18px;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

section .main .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

section .main .content form .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 780px) {
  section .main .content form .group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

section .main .content form .group .rating .fa.fa-star {
  color: #ccc;
  cursor: pointer;
  display: inline;
  text-align: center;
  min-width: unset;
  margin: 0 3px;
}

section .main .content form .group .rating input:checked + .fa.fa-star {
  color: #f76341;
}

section .main .content form label {
  min-width: 150px;
  font-weight: 600;
  text-align: right;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 780px) {
  section .main .content form label {
    width: 100%;
    padding: 0;
    text-align: left;
  }
}

section .main .content form input,
section .main .content form textarea,
section .main .content form select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #bbb;
  margin: 10px 0 20px;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 26px;
  outline: none;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  resize: none;
}

section .main .content form input::-webkit-input-placeholder,
section .main .content form textarea::-webkit-input-placeholder,
section .main .content form select::-webkit-input-placeholder {
  font-style: italic;
  color: #999;
}

section .main .content form input::-ms-input-placeholder,
section .main .content form textarea::-ms-input-placeholder,
section .main .content form select::-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

section .main .content form input::placeholder,
section .main .content form textarea::placeholder,
section .main .content form select::placeholder {
  font-style: italic;
  color: #999;
}

section .main .content form input[type=text],
section .main .content form textarea[type=text],
section .main .content form select[type=text] {
  -webkit-appearance: none;
}

section .main .content form input:focus,
section .main .content form textarea:focus,
section .main .content form select:focus {
  border: 1px solid #f76341;
}

section .main .content form input.small,
section .main .content form textarea.small,
section .main .content form select.small {
  max-width: 60px;
}

section .main .content form input.submit,
section .main .content form textarea.submit,
section .main .content form select.submit {
  background-color: #f76341;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
  margin-top: auto;
}

section .main .content form #cke_ckeditor {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px 0 20px;
  border-color: #bbb;
}

section .main .content form img {
  display: block;
  margin: 0 auto;
  max-width: 380px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
}

section .main .content form .error {
  background-color: #ffbd99;
  width: 100%;
  text-align: center;
  margin: 0 0 5px 0;
  color: #620b1a;
}

section .main .content .menu-list {
  font-size: 15px;
  max-width: 800px;
  margin: 0 auto;
}

section .main .content .menu-list ul {
  margin-left: 15px;
}

section .main .content .menu-list li {
  margin: 5px;
  border: 1px solid #999;
  padding: 2px 5px;
}

section .main .content .menu-list li .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .main .content .menu-list li .info .buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .main .content .menu-list li .info .buttons a {
  text-decoration: none;
  font-size: 20px;
  color: #363636;
  margin: 0 10px;
}

section .main .content .menu-list li .info .buttons a:hover {
  color: #f76341;
}

section .main .content .menu-list li .info .buttons a.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #bbb;
}

section .main .content .menu-list li .info .buttons .move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .main .content .menu-list li .info .buttons .move a {
  font-size: 13px;
}

section .main .content .menu-list li span {
  font-weight: 600;
  margin-right: 10px;
}

section .main .content .overlay {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .main .content .overlay.hide {
  display: none;
}

section .main .content .overlay.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.8);
}

section .main .content .overlay.show .add-nav-item {
  position: fixed;
  top: 150px;
  left: 10%;
  width: 80%;
  z-index: 5;
  padding: 10px 0;
  background-color: white;
}

@media screen and (max-width: 960px) {
  section .main .content .overlay.show .add-nav-item {
    margin-left: 5%;
    left: 0;
    width: 90%;
  }
}

section .main .content .overlay.show .add-nav-item .close-btn {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #363636;
  color: #363636;
  background-color: white;
  cursor: pointer;
}

section .main .content .overlay.show .add-nav-item .close-btn:hover {
  border-color: #f76341;
  color: #f76341;
}

section .main .content .add-nav-item {
  margin: 30px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid #999;
}

section .main .content .add-nav-item .close-btn {
  display: none;
  position: absolute;
  top: -15px;
  left: -15px;
}

section .main .content .add-nav-item .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333333% - 30px);
}

@media screen and (max-width: 960px) {
  section .main .content .add-nav-item .buttons {
    width: calc(100% - 30px);
    margin-bottom: 20px;
  }
}

section .main .content .add-nav-item .buttons button {
  padding: 0;
  margin: 10px 0 20px;
  border: 1px solid #aaa;
  color: #aaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  section .main .content .add-nav-item .buttons button {
    margin-bottom: 0;
  }
}

section .main .content .add-nav-item .buttons button.active {
  border-color: #000;
  color: #000;
  font-weight: 600;
}

section .main .content .add-nav-item .buttons button label {
  padding: 10px 20px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

section .main .content .add-nav-item form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666667% - 30px);
}

@media screen and (max-width: 960px) {
  section .main .content .add-nav-item form {
    width: calc(100% - 30px);
  }
}

section .main .content .add-nav-item form .group.url,
section .main .content .add-nav-item form .group.page,
section .main .content .add-nav-item form .group.submenu {
  display: none;
}

section .main .content .add-nav-item form .group.url.active,
section .main .content .add-nav-item form .group.page.active,
section .main .content .add-nav-item form .group.submenu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .main .content .add-nav-item form .group label {
  min-width: 180px;
  font-weight: 600;
  text-align: right;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 780px) {
  section .main .content .add-nav-item form .group label {
    width: 100%;
    padding: 0;
    text-align: left;
  }
}

