body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.side-nav {
  display: none;
  position: fixed;
  top: 0;
  left: -220px;
  width: 220px;
  min-height: 100vh;
  background-color: #191919;
  z-index: 100;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

@media screen and (max-width: 780px) {
  .side-nav {
    display: block;
  }
}

.side-nav.show {
  left: 0;
}

.side-nav > ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 80px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.side-nav > ul::-webkit-scrollbar {
  width: 0;
}

.side-nav > ul li:hover ul,
.side-nav > ul li:active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-nav > ul li ul {
  display: none;
}

.side-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-nav ul li {
  margin: 0 0 0 22px;
}

.side-nav ul li a,
.side-nav ul li button {
  display: block;
  text-decoration: none;
  margin: 8px 0;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
}

.side-nav ul li button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.side-nav ul li button span {
  margin-left: 5px;
}

.side-nav ul li:hover > a,
.side-nav ul li:hover > button,
.side-nav ul li.link-active > a,
.side-nav ul li.link-active > button {
  color: #f76341;
}

.top-nav {
  min-height: 100px;
  padding: 5px;
}

@media screen and (max-width: 960px) {
  .top-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.top-nav .top-nav-logo {
  margin: 0 15px;
  text-align: center;
  height: 98px;
}

@media screen and (max-width: 560px) {
  .top-nav .top-nav-logo {
    height: 90px;
  }
}

@media screen and (max-width: 960px) {
  .top-nav .top-nav-logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 10px;
  }
}

.top-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .top-nav > ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.top-nav > ul > li {
  position: relative;
  border: 1px solid #000;
  border-radius: 15px;
  width: 140px;
  text-align: center;
  line-height: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15px;
}

@media screen and (max-width: 1200px) {
  .top-nav > ul > li {
    margin: 0 10px;
  }
}

@media screen and (max-width: 780px) {
  .top-nav > ul > li {
    display: none;
  }
}

.top-nav > ul > li:hover ul,
.top-nav > ul > li:active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav > ul > li ul {
  position: absolute;
  top: 100%;
  padding-top: 5px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.top-nav > ul > li ul li {
  width: 140px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #363636;
  margin: 5px 0;
}

.top-nav > ul > li ul li a {
  color: white;
  font-weight: 400;
}

.top-nav ul li a {
  display: block;
  height: 100%;
  width: 100%;
}

.top-nav ul li a,
.top-nav ul li button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  -webkit-transition: .15s all ease;
  transition: .15s all ease;
  cursor: pointer;
}

.top-nav ul li:hover,
.top-nav ul li.link-active {
  border-color: #f76341;
}

.top-nav ul li:hover > a,
.top-nav ul li:hover > button,
.top-nav ul li.link-active > a,
.top-nav ul li.link-active > button {
  color: #f76341;
}

.v--modal-overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.v--modal-overlay .v--modal-box.v--modal {
  overflow: visible;
  margin-top: 20px;
}

.modal {
  padding: 20px;
  position: relative;
}

.modal .modal-title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 20px;
}

.modal .modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-form input,
.modal .modal-form label,
.modal .modal-form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 26px;
}

.modal .modal-form textarea {
  resize: unset;
  text-align: left;
}

.modal .modal-form input,
.modal .modal-form textarea {
  border: 1px solid #f76341;
  border-radius: 8px;
  outline: none;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.modal .modal-form input::-webkit-input-placeholder,
.modal .modal-form textarea::-webkit-input-placeholder {
  font-style: italic;
  color: #999;
}

.modal .modal-form input::-ms-input-placeholder,
.modal .modal-form textarea::-ms-input-placeholder {
  font-style: italic;
  color: #999;
}

.modal .modal-form input::placeholder,
.modal .modal-form textarea::placeholder {
  font-style: italic;
  color: #999;
}

.modal .modal-form input.submit,
.modal .modal-form textarea.submit {
  background-color: #f76341;
  padding: 10px;
  color: white;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
}

.modal .modal-form input[type=file],
.modal .modal-form textarea[type=file] {
  border: none;
}

.modal .modal-form input[type=text],
.modal .modal-form textarea[type=text] {
  -webkit-appearance: none;
}

.modal .modal-form input[type=checkbox],
.modal .modal-form textarea[type=checkbox] {
  display: inline;
  width: auto;
  min-width: unset;
}

.modal .modal-form span {
  color: #363636;
  margin-bottom: 5px;
}

.modal .modal-form a {
  text-decoration: none;
  color: #f76341;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.modal .modal-form .error {
  background-color: #ffd3b6;
  width: 100%;
  text-align: center;
  color: #620b1a;
  padding: 2px;
  margin-bottom: 10px;
}

.modal .message {
  margin: 0 30px;
  padding: 10px 20px;
  background-color: #d5ffbc;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
}

.modal .message p {
  margin: 10px 0;
}

.modal .modal-close {
  position: absolute;
  top: -14px;
  right: -14px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  font-size: 18px;
  border-radius: 50%;
  background-color: white;
  color: #666;
  text-align: center;
  line-height: 26px;
  -webkit-transition: all ease .15s;
  transition: all ease .15s;
}

.modal .modal-close:hover {
  color: #333;
}

.user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.user-container .info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-container .info .items {
  margin-bottom: 20px;
}

.user-container .info .items .item {
  color: #363636;
  font-style: italic;
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-container .info .items .item:nth-of-type(2n+1) {
  border-radius: 6px;
  background-color: #eee;
}

.user-container .info .items .item .title {
  display: inline-block;
  width: 35%;
  min-width: 170px;
  text-align: right;
  margin-right: 15px;
  font-weight: 500;
  font-style: normal;
}

.user-container .info .items .item .new-email {
  border-radius: 6px;
  padding: 5px;
  background-color: #b0ffbc;
  text-align: center;
}

.user-container .info .buttons {
  margin-top: auto;
  text-align: center;
}

.user-container .edit-btn {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #363636;
  cursor: pointer;
  -webkit-transition: all ease .15s;
  transition: all ease .15s;
}

@media screen and (max-width: 400px) {
  .user-container .edit-btn {
    width: 100%;
  }
}

.user-container .edit-btn:hover {
  border-color: #f76341;
  color: #f76341;
}

html,
body,
button {
  font-family: "Segoe UI", sans-serif;
}

a,
label {
  -webkit-tap-highlight-color: transparent;
}

input[type=text],
input[type=submit],
textarea {
  -webkit-appearance: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

section {
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section .h2 {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  letter-spacing: 12px;
  margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
  section .h2 {
    font-size: 38px;
    letter-spacing: 7px;
  }
}

@media screen and (max-width: 780px) {
  section .h2 {
    font-size: 36px;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 560px) {
  section .h2 {
    font-size: 32px;
    letter-spacing: 0;
  }
}

.side-lines {
  overflow: hidden;
}

.side-lines::before,
.side-lines::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #363636;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.side-lines::before {
  margin-left: -100%;
  margin-right: 20px;
}

.side-lines::after {
  margin-right: -100%;
  margin-left: 20px;
}

