<template>
    <modal name="login" height="auto" :width="500"
           :adaptive="true" :clickToClose="false"
           @before-open="$modal.hide('register')"
           @closed="clearAuthErrors">
        <div class="modal">
            <p class="modal-title">Вход на сайт</p>

            <form @submit.prevent="login(form)" class="modal-form">
                <input v-model="form.login" type="text" placeholder="логин">
                <p v-if="authErrors.login" class="error">{{ authErrors.login[0] }}</p>

                <input v-model="form.password" type="password" placeholder="пароль">
                <p v-if="authErrors.password" class="error">{{ authErrors.password[0] }}</p>

                <label><input v-model="form.remember" type="checkbox"> Запомнить меня</label>

                <input type="submit" class="submit" value="Вход">
                <p v-if="errorAuthentication" class="error">Неверный логин или пароль</p>
                <p v-if="errorVerification === 0" class="error">
                    Ваш аккаунт не верифицирован. Для подтверждения регистрации проверьте свой email.
                </p>

                <span>или</span>

                <a href="#" @click.prevent="$modal.show('register')">Регистрация</a>
            </form>

            <div class="modal-close" @click="$modal.hide('login')">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </modal>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                form: {
                    login: null,
                    password: null,
                    remember: true
                },
            }
        },
        computed: {
            ...mapGetters([
                'authErrors',
                'errorAuthentication',
                'errorVerification'
            ])
        },
        methods: {
            ...mapActions([
                'login',
                'clearAuthErrors'
            ])
        }
    }
</script>