<template>
    <modal name="register" height="auto" :width="500"
           :adaptive="true" :clickToClose="false"
           @before-open="$modal.hide('login')"
           @closed="clearAuthErrors">
        <div class="modal">
            <p class="modal-title">Регистрация</p>

            <form v-if="!registered" @submit.prevent="register(form)" class="modal-form">
                <input v-model="form.first_name" type="text" placeholder="имя">
                <p v-if="authErrors.first_name" class="error">{{ authErrors.first_name[0] }}</p>

                <input v-model="form.last_name" type="text" placeholder="фамилия">
                <p v-if="authErrors.last_name" class="error">{{ authErrors.last_name[0] }}</p>

                <input v-model="form.login" type="text" placeholder="логин">
                <p v-if="authErrors.login" class="error">{{ authErrors.login[0] }}</p>

                <input v-model="form.email" type="email" placeholder="email">
                <p v-if="authErrors.email" class="error">{{ authErrors.email[0] }}</p>

                <input v-model="form.password" type="password" placeholder="пароль">
                <p v-if="authErrors.password" class="error">{{ authErrors.password[0] }}</p>

                <input v-if="form.password" v-model="form.password_confirmation" type="password"
                       placeholder="подтвердите пароль">

                <input type="submit" class="submit" value="Регистрация">

                <span>Уже есть аккаунт?</span>

                <a href="#" @click.prevent="$modal.show('login')">Вход</a>
            </form>

            <div v-else class="message">
                <p>Регистрация прошла успешно.</p>
                <p>На ваш email было выслано письмо со ссылкой подтверждения регистрации.</p>
            </div>

            <div class="modal-close" @click="$modal.hide('register')">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </modal>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                form: {
                    first_name: null,
                    last_name: null,
                    login: null,
                    email: null,
                    password: null,
                    password_confirmation: null
                },
            }
        },
        computed: {
            ...mapGetters([
                'authErrors',
                'registered'
            ])
        },
        methods: {
            ...mapActions([
                'register',
                'clearAuthErrors'
            ])
        }
    }
</script>