<template>
    <modal name="review" height="auto" :width="500"
           :adaptive="true" :clickToClose="false">
        <div class="modal">
            <p class="modal-title">Оставить отзыв</p>

            <form v-if="!user.review || !success" @submit.prevent="addReview" class="modal-form">

                <div class="rating">
                    <label v-for="val in 5" :class="['fa', 'fa-star', val <= form.rating ? 'checked' : '']">
                        <input type="radio" hidden v-model="form.rating" :value="val">
                    </label>
                </div>
                <p v-if="errors.rating" class="error">{{ errors.rating[0] }}</p>

                <textarea rows="5" v-model="form.text" placeholder="отзыв"></textarea>
                <p v-if="errors.text" class="error">{{ errors.text[0] }}</p>

                <input type="submit" class="submit" value="Добавить">
            </form>

            <div v-else-if="success" class="message">
                <p>Ваш отзыв успешно добавлен. Скоро он появится в списке отзывов.</p>
            </div>

            <div class="modal-close" @click="$modal.hide('review')">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </modal>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        data() {
            return {
                form: {
                    rating: 5,
                    text: '',
                },
                errors: [],
                success: false
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        },
        methods: {
            ...mapActions([
                'refreshUser'
            ]),
            addReview() {
                this.errors = [];

                axios.post('/api/reviews', this.form)
                    .then(res => {
                        if (res.data.errors) {
                            this.errors = res.data.errors;
                        }

                        if (res.data.success) {
                            this.success = true;

                            this.refreshUser();
                        }
                    })
                    .catch(err => console.log(err))
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../../sass/smart-grid";
    @import "../../../../../sass/variables";

    .modal {
        .modal-form {
            .rating {
                margin-bottom: 15px;

                .fa.fa-star {
                    color: #ccc;
                    cursor: pointer;
                    display: inline;

                    &.checked {
                        color: $myOrange;
                    }
                }
            }
        }
    }
</style>