<template>
    <modal name="password" height="auto" :width="500"
           :adaptive="true" :clickToClose="false">
        <div class="modal">
            <p class="modal-title">Изменить пароль</p>

            <form v-if="!userPasswordUpdated" @submit.prevent="updateUserPassword(form)" class="modal-form">
                <input v-model="form.password" type="password" placeholder="старый пароль">
                <p v-if="userErrors.password" class="error">{{ userErrors.password[0] }}</p>

                <input v-model="form.password_new" type="password" placeholder="новый пароль">
                <p v-if="userErrors.password_new" class="error">{{ userErrors.password_new[0] }}</p>

                <input v-if="form.password_new" v-model="form.password_new_confirmation"
                       type="password" placeholder="новый пароль еще раз">

                <template v-if="isChanged">
                    <input type="submit" class="submit" value="Сохранить изменения">
                </template>
            </form>

            <div v-else class="message">
                <p>Изменения сохранены.</p>
            </div>

            <div class="modal-close" @click="$modal.hide('password')">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </modal>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                form: {
                    password: null,
                    password_new: null,
                    password_new_confirmation: null
                },
            }
        },
        watch: {
            userPasswordUpdated(val) {
                if (val) {
                    this.form.password = null;
                    this.form.password_new = null;
                    this.form.password_new_confirmation = null;
                }
            }
        },
        computed: {
            ...mapGetters([
                'user',
                'userErrors',
                'userPasswordUpdated'
            ]),
            isChanged() {
                return this.form.password
                    && this.form.password_new
                    && this.form.password_new_confirmation;
            }
        },
        methods: {
            ...mapActions([
                'updateUserPassword',
                'clearUserErrors'
            ])
        }
    }
</script>