<template>
    <modal name="avatar" height="auto" :width="500"
           :adaptive="true" :clickToClose="false">
        <div class="modal">
            <p class="modal-title">Изменить фото</p>

            <form v-if="!userAvatarUpdated" @submit.prevent="uploadImage" class="modal-form">
                <template v-if="!image ">
                    <input @change="onChange" type="file" name="image">
                    <p v-if="userErrors.image" class="error">{{ userErrors.image[0] }}</p>
                </template>

                <template v-else>
                    <div class="image" style="width: 200px">
                        <image-frame
                                :src="image"
                                alt="Аватар"
                                ratioY="1"
                                ratioX="1"
                                :imgStyle="{border: '1px solid #333', borderRadius: '50%'}"/>
                    </div>

                    <a class="link" href="#" @click.prevent="clearImage">Выбрать другое фото</a>

                    <input type="submit" class="submit" value="Сохранить">
                </template>
            </form>

            <div v-else class="message">
                <p>Изменения сохранены.</p>
            </div>

            <div class="modal-close" @click="$modal.hide('avatar')">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </modal>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                image: null
            }
        },
        watch: {
            userAvatarUpdated(val) {
                if (val) {
                    this.image = null;
                } else {
                    this.$modal.hide('avatar')
                }
            }
        },
        computed: {
            ...mapGetters([
                'user',
                'userErrors',
                'userAvatarUpdated'
            ])
        },
        methods: {
            ...mapActions([
                'updateUserAvatar',
                'clearUserErrors'
            ]),
            onChange(e) {
                let file = e.target.files[0] || e.dataTransfer.files[0];

                this.createImage(file);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;

                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            clearImage() {
                this.image = null;
            },
            uploadImage() {
                this.updateUserAvatar({image: this.image});
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../../sass/smart-grid";
    @import "../../../../../sass/variables";

    .modal .modal-form {
        .image,
        .link {
            margin-bottom: 20px;
        }

        .link {
            color: $myGray;
            transition: all ease .15s;

            &:hover {
                color: $myOrange;
            }
        }
    }
</style>