<template>
    <modal name="contacts" height="auto" :width="500"
           :adaptive="true" :clickToClose="false"
           @closed="clearUserErrors">
        <div class="modal">
            <p class="modal-title">Редактировать контакты</p>

            <form v-if="!userContactsUpdated" @submit.prevent="updateUserContacts(form)" class="modal-form">
                <input v-model="form.email" type="email" placeholder="email">
                <p v-if="userErrors.email" class="error">{{ userErrors.email[0] }}</p>

                <the-mask v-model="form.phone" mask="+375 (##) ###-##-##" type="tel" :masked="true" placeholder="мобильный телефон"/>
                <p v-if="userErrors.phone" class="error">{{ userErrors.phone[0] }}</p>

                <input v-model="form.address" type="text" placeholder="адрес доставки">
                <p v-if="userErrors.address" class="error">{{ userErrors.address[0] }}</p>

                <template v-if="isChanged">
                    <input v-model="form.password" type="password" placeholder="пароль">
                    <p v-if="userErrors.password" class="error">{{ userErrors.password[0] }}</p>

                    <input type="submit" class="submit" value="Сохранить изменения">
                </template>
            </form>

            <div v-else class="message">
                <p>Изменения сохранены.</p>
            </div>

            <div class="modal-close" @click="$modal.hide('contacts')">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </modal>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                form: {
                    email: '',
                    phone: '',
                    address: '',
                    password: '',
                },
            }
        },
        mounted() {
            this.form.email = this.user.email || '';
            this.form.phone = this.user.profile.phone || '';
            this.form.address = this.user.profile.address || '';
        },
        watch: {
            userContactsUpdated(val) {
                if (val) {
                    this.form.password = null;
                }
            }
        },
        computed: {
            ...mapGetters([
                'user',
                'userErrors',
                'userContactsUpdated'
            ]),
            isChanged() {
                return this.form.email !== (this.user.email || '')
                    || this.form.phone !== (this.user.profile.phone || '')
                    || this.form.address !== (this.user.profile.address || '');
            }
        },
        methods: {
            ...mapActions([
                'updateUserContacts',
                'clearUserErrors'
            ])
        }
    }
</script>