<template>
    <modal name="profile" height="auto" :width="500"
           :adaptive="true" :clickToClose="false"
           @closed="clearUserErrors">
        <div class="modal">
            <p class="modal-title">Редактировать данные</p>

            <form v-if="!userProfileUpdated" @submit.prevent="updateUserProfile(form)" class="modal-form">
                <input v-model="form.first_name" type="text" placeholder="имя">
                <p v-if="userErrors.first_name" class="error">{{ userErrors.first_name[0] }}</p>

                <input v-model="form.last_name" type="text" placeholder="фамилия">
                <p v-if="userErrors.last_name" class="error">{{ userErrors.last_name[0] }}</p>

                <template v-if="isChanged">
                    <input v-model="form.password" type="password" placeholder="пароль">
                    <p v-if="userErrors.password" class="error">{{ userErrors.password[0] }}</p>

                    <input type="submit" class="submit" value="Сохранить изменения">
                </template>
            </form>

            <div v-else class="message">
                <p>Изменения сохранены.</p>
            </div>

            <div class="modal-close" @click="$modal.hide('profile')">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
    </modal>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                form: {
                    first_name: null,
                    last_name: null,
                    password: null
                },
            }
        },
        mounted() {
            this.form.first_name = this.user.first_name;
            this.form.last_name = this.user.last_name;
        },
        watch: {
            userProfileUpdated(val) {
                if (val) {
                    this.form.password = null;
                }
            }
        },
        computed: {
            ...mapGetters([
                'user',
                'userErrors',
                'userProfileUpdated'
            ]),
            isChanged() {
                return this.user.first_name !== this.form.first_name
                    || this.user.last_name !== this.form.last_name;
            }
        },
        methods: {
            ...mapActions([
                'updateUserProfile',
                'clearUserErrors'
            ])
        }
    }
</script>