.auth-container {
  padding: 20px;
  position: relative;

  .auth-title {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 20px;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input, label {
      box-sizing: border-box;
      width: 100%;
      padding: 5px;
      text-align: center;
      margin-bottom: 10px;
      line-height: 26px;
    }

    input {
      border: 1px solid $myOrange;
      border-radius: 8px;
      outline: none;
      transition: .5s all ease;

      &::placeholder {
        font-style: italic;
        color: #999;
      }

      &.submit {
        background-color: $myOrange;
        padding: 10px;
        color: white;
        font-weight: bold;
        line-height: 14px;
        cursor: pointer;
      }

      &[type=text] {
        -webkit-appearance: none;
      }

      &[type=checkbox] {
        display: inline;
        width: auto;
        min-width: unset;
      }
    }

    span {
      color: $myGray;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: $myOrange;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
    }

    .error {
      background-color: #ffd3b6;
      width: 100%;
      text-align: center;
      color: #620b1a;
      padding: 2px;
      margin-bottom: 10px;
    }
  }

  .message {
    margin: 0 30px;
    padding: 10px 20px;
    background-color: #d5ffbc;
    border-radius: 8px;
    font-weight: 500;

    p {
      margin: 10px 0;
    }
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    font-size: 16px;
    border: 2px solid #666;
    color: #666;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    transition: all ease .15s;

    &:hover {
      border-color: #333;
      color: #333;
    }
  }
}