.cart {
  table {
    width: 100%;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;

    tr {
      > * {
        border: 1px solid #bbb;
        padding: 3px 5px;
        box-sizing: border-box;
      }

      th {
        background-color: #ccc;
        text-align: center;
        font-weight: 500;
      }

      .qty {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;

        span {
          margin: auto 5px;
        }

        a {
          display: block;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          border: 1px solid #999;
          background-color: #eee;
          color: #444;
          text-align: center;
          text-decoration: none;
          font-size: 22px;
          line-height: 16px;
          font-weight: 700;
          transition: .2s all ease;

          &:hover {
            border-color: $myOrange;
            color: $myOrange;
          }
        }
      }

      .delete {
        text-align: center;

        a {
          color: #444;
          text-decoration: none;
          font-size: 18px;
          font-weight: 700;
          transition: .2s all ease;

          &:hover {
            border-color: $myOrange;
            color: $myOrange;
          }
        }
      }

      &.total {
        background-color: #ccc;
        font-weight: 500;
      }
    }
  }

  .manage {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      width: 100%;
      max-width: 180px;
      border-radius: 5px;
      padding: 5px 10px;
      box-sizing: border-box;
      text-align: center;
      text-decoration: none;
      font-weight: 500;
      transition: .2s all ease;
    }

    .clear {
      border: 1px solid #999;
      background-color: #eee;
      color: #444;

      &:hover {
        border-color: $myOrange;
        color: $myOrange;
      }
    }

    .order {
      background-color: $myOrange;
      color: white;

      &:hover {
        background-color: #d0562e;
      }
    }
  }

  p {
    text-align: center;
  }
}