.dish {
  &__items {
    margin-top: 30px;
    @include row-flex;

    .item {
      @include col;
      @include size(4);
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;

      @include md-block {
        @include size(6);
      }

      @include xs-block {
        @include shift(1);
        @include size(10);
      }

      .image {
        text-align: center;
        margin: 5px 0;
        position: relative;
        border: 1px solid #999;
        box-sizing: border-box;

        .links {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 2;
          padding: 5px;
          box-sizing: border-box;
          color: black;
          background-color: rgba(255, 255, 255, .5);
          font-size: 14px;
          font-weight: 600;
          display: flex;
          justify-content: space-between;
        }

        a {
          text-decoration: none;
          color: #262626;
          transition: .2s all ease;

          &:hover {
            color: #000;
          }
        }

        > a:hover .overlay {
          opacity: 1;
        }

        .title {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 5px;
          box-sizing: border-box;
          background-color: rgba(255, 255, 255, .5);
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;

          @include sm-block {
            font-size: 15px;
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: .3s all ease;

          p {
            padding: 8px 15px;
            background-color: rgba(255, 255, 255, .4);
            color: #202020;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        img {
          object-fit: cover;
          height: auto;
          vertical-align: bottom;
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;

        .price {
          text-align: center;
          font-size: 26px;

          @include sm-block {
            font-size: 20px;
          }
        }

        .buy {
          text-align: center;
          width: 120px;
          padding: 5px;
          border-radius: 4px;
          border: none;
          outline: none;
          color: white;
          text-decoration: none;
          background-color: $myOrange;
          cursor: pointer;
          transition: .2s all ease;

          &:hover {
            background-color: #e15f3c;
          }
        }
      }
    }
  }

  &__show {
    @include row-flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #555555;

    .image {
      @include col;
      @include size(4);

      @include md-block {
        @include col;
        @include size(5);
      }

      @include sm-block {
        @include col;
        @include size(6);
        @include shift(3);
      }

      @include xs-block {
        @include col;
        @include size(8);
        @include shift(2);
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      @include col;
      @include size(8);

      @include md-block {
        @include col;
        @include size(7);
      }

      @include sm-block {
        @include col;
        @include size(12);
      }

      .title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 15px;
      }

      .links {
        margin-bottom: 15px;

        a {
          padding: 2px 6px;
          border-radius: 5px;
          border: 1px solid $myGray;
          text-decoration: none;
          color: $myGray;
          font-weight: 500;
          font-style: italic;
          margin-right: 15px;
          transition: .2s all ease;

          &:hover {
            color: $myOrange;
            border-color: $myOrange;
          }
        }
      }

      .description {
        margin-bottom: 15px;
      }

      .bottom {
        margin-top: auto;
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-end;

        .price {
          text-align: center;
          font-size: 26px;
          margin-right: 20px;

          @include sm-block {
            font-size: 24px;
          }
        }

        .buy {
          text-align: center;
          width: 120px;
          padding: 5px;
          border-radius: 4px;
          border: none;
          outline: none;
          color: white;
          text-decoration: none;
          background-color: $myOrange;
          cursor: pointer;
          transition: .2s all ease;

          &:hover {
            background-color: #e15f3c;
          }
        }
      }
    }
  }

  .recommended {
    .title {
      text-align: center;
      font-size: 24px;
      margin-bottom: 15px;
    }

    .item {
      text-align: center;
      cursor: pointer;

      @include xs-block {
        @include size(10);
        @include shift(1);
      }

      a {
        text-decoration: none;
        color: #000;
      }

      .image {
        text-align: center;
        margin: 5px 0;
        position: relative;
        border: 1px solid #999;
        box-sizing: border-box;

        .links {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 2;
          padding: 5px;
          box-sizing: border-box;
          color: black;
          background-color: rgba(255, 255, 255, .5);
          font-size: 14px;
          font-weight: 600;
          display: flex;
          justify-content: space-between;
        }

        a {
          text-decoration: none;
          color: #262626;
          transition: .2s all ease;

          &:hover {
            color: #000;
          }
        }

        > a:hover .overlay {
          opacity: 1;
        }

        .title {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          padding: 5px;
          margin-bottom: 0;
          box-sizing: border-box;
          background-color: rgba(255, 255, 255, .5);
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;

          @include sm-block {
            font-size: 15px;
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: .3s all ease;

          p {
            padding: 8px 15px;
            background-color: rgba(255, 255, 255, .4);
            color: #202020;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        img {
          object-fit: cover;
          height: auto;
          vertical-align: bottom;
        }
      }
    }
  }
}