.v--modal-overlay {
  background-color: rgba(0,0,0,.7) !important;
}

.v--modal-overlay .v--modal-box.v--modal {
  overflow: visible;
  margin-top: 20px;
}

.modal {
  padding: 20px;
  position: relative;

  .modal-title {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 20px;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    label,
    textarea {
      box-sizing: border-box;
      width: 100%;
      padding: 5px;
      text-align: center;
      margin-bottom: 10px;
      line-height: 26px;
    }

    textarea {
      resize: unset;
      text-align: left;
    }

    input,
    textarea {
      border: 1px solid $myOrange;
      border-radius: 8px;
      outline: none;
      transition: .5s all ease;

      &::placeholder {
        font-style: italic;
        color: #999;
      }

      &.submit {
        background-color: $myOrange;
        padding: 10px;
        color: white;
        font-weight: bold;
        line-height: 14px;
        cursor: pointer;
      }

      &[type=file] {
        border: none;
      }

      &[type=text] {
        -webkit-appearance: none;
      }

      &[type=checkbox] {
        display: inline;
        width: auto;
        min-width: unset;
      }
    }

    span {
      color: $myGray;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: $myOrange;
      font-weight: 600;
      font-size: 18px;
      text-align: center;
    }

    .error {
      background-color: #ffd3b6;
      width: 100%;
      text-align: center;
      color: #620b1a;
      padding: 2px;
      margin-bottom: 10px;
    }
  }

  .message {
    margin: 0 30px;
    padding: 10px 20px;
    background-color: #d5ffbc;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;

    p {
      margin: 10px 0;
    }
  }

  .modal-close {
    position: absolute;
    top: -14px;
    right: -14px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    font-size: 18px;
    border-radius: 50%;
    background-color: white;
    color: #666;
    text-align: center;
    line-height: 26px;
    transition: all ease .15s;

    &:hover {
      color: #333;
    }
  }
}