.user-container {
  @include row-flex;

  .info {
    @include col;
    display: flex;
    flex-direction: column;

    .items {
      margin-bottom: 20px;

      .item {
        color: $myGray;
        font-style: italic;
        padding: 8px 0;
        display: flex;
        flex-wrap: wrap;

        &:nth-of-type(2n+1) {
          border-radius: 6px;
          background-color: #eee;
        }

        .title {
          display: inline-block;
          width: 35%;
          min-width: 170px;
          text-align: right;
          margin-right: 15px;
          font-weight: 500;
          font-style: normal;
        }

        .text {

        }

        .new-email {
          border-radius: 6px;
          padding: 5px;
          background-color: #b0ffbc;
          text-align: center;
        }
      }
    }

    .buttons {
      margin-top: auto;
      text-align: center;
    }
  }

  .edit-btn {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid $myGray;
    cursor: pointer;
    transition: all ease .15s;
    @include xxs-block {
      width: 100%;
    }

    &:hover {
      border-color: $myOrange;
      color: $myOrange;
    }
  }
}