@import "smart-grid";
@import "variables";

@include reset();

@import "nav";
@import "modals";
@import "user";
//@import "footer";

html,
body,
button {
  font-family: "Segoe UI", sans-serif;
}

a, label{
  -webkit-tap-highlight-color: transparent;
}

input[type=text], input[type=submit], textarea{
  -webkit-appearance: none;
}

.wrapper {
  @include wrapper;
}

section {
  padding: 30px 0;
  box-sizing: border-box;

  .h2 {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    letter-spacing: 12px;
    margin-bottom: 30px;

    @include md-block {
      font-size: 38px;
      letter-spacing: 7px;
    }

    @include sm-block {
      font-size: 36px;
      letter-spacing: 4px;
    }

    @include xs-block {
      font-size: 32px;
      letter-spacing: 0;
    }
  }
}

.side-lines {
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $myGray;
    width: 100%;
    box-sizing: border-box;
  }
  &::before {
    margin-left: -100%;
    margin-right: 20px;
  }

  &::after {
    margin-right: -100%;
    margin-left: 20px;
  }
}