.side-nav {
  display: none;
  position: fixed;
  top: 0;
  left: -220px;
  width: 220px;
  min-height: 100vh;
  background-color: #191919;
  z-index: 100;
  transition: .5s all ease;

  @include sm-block {
    display: block;
  }

  &.show {
    left: 0;
  }

  > ul {
    position: sticky;
    top: 0;
    margin-top: 80px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar {
      width: 0;
    }

    li {
      &:hover ul,
      &:active ul {
        display: flex;
      }

      ul {
        display: none;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      margin: 0 0 0 22px;

      a,
      button {
        display: block;
        text-decoration: none;
        margin: 8px 0;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        transition: .15s all ease;
      }

      button {
        background: none;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;

        span {
          margin-left: 5px;
        }
      }

      &:hover,
      &.link-active {
        > a,
        > button {
          color: $myOrange;
        }
      }
    }
  }
}


.top-nav {
  min-height: 100px;
  padding: 5px;

  @include md-block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-nav-logo {
    margin: 0 15px;
    text-align: center;
    height: 98px;

    @include xs-block {
      height: 90px;
    }

    @include md-block {
      flex-basis: 100%;
      order: -1;
      margin-bottom: 10px;
    }
  }

  > ul {
    display: flex;
    justify-content: center;
    align-items: center;

    @include md-block {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }

    > li {
      position: relative;
      border: 1px solid #000;
      border-radius: 15px;
      width: 140px;
      text-align: center;
      line-height: 28px;
      box-sizing: border-box;
      margin: 0 15px;

      @include lg-block {
        margin: 0 10px;
      }

      @include sm-block {
        display: none;
      }

      &:hover ul,
      &:active ul {
        display: flex;
      }

      ul {
        position: absolute;
        top: 100%;
        padding-top: 5px;
        display: none;
        flex-direction: column;
        z-index: 1;

        li {
          width: 140px;
          border-radius: 15px;
          box-sizing: border-box;
          background-color: $myGray;
          margin: 5px 0;

          a {
            color: white;
            font-weight: 400;
          }
        }
      }
    }
  }

  ul {
    li {
      a {
        display: block;
        height: 100%;
        width: 100%;
      }

      a,
      button {
        background: none;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        font-size: 17px;
        font-weight: 500;
        text-decoration: none;
        color: #000;
        transition: .15s all ease;
        cursor: pointer;
      }

      &:hover,
      &.link-active {
        border-color: $myOrange;

        > a,
        > button {
          color: $myOrange;
        }
      }
    }
  }
}