<template>
    <section class="section-page">
        <div class="wrapper">
            <div class="content">
                <div class="not-found">
                    Такой страницы не существует...
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        metaInfo() {
            return {
                title: 'Страница не найдена'
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .section-page {
        .content {
            .not-found {
                text-align: center;
                font-size: 22px;
                font-weight: 100;
                margin: 50px 0;
            }
        }
    }

</style>