<template>
    <section class="section-about">
        <div class="wrapper">
            <loading v-if="loading"/>

            <template v-else>
                <h2 v-if="page" class="h2">{{ page.title }}</h2>

                <div class="about-image">
                    <image-frame src="/img/rest-about.jpg"
                                 alt="О нас"
                                 ratioX="14"
                                 ratioY="3"/>
                </div>
                
                <div v-if="page" class="content" v-html="page.content"></div>

                <div class="gallery">
                    <div v-for="image in images" :key="image" class="item">
                        <image-frame :src="'/img/about/' + image"
                                     alt="Ресторан"
                                     ratioX="16"
                                     ratioY="9"
                                     :imgStyle="{'border-radius':'8px'}"/>
                    </div>
                </div>
            </template>
        </div>
    </section>
</template>

<script>
    export default {
        metaInfo: {
            title: 'О ресторане',
        },
        data() {
            return {
                page: {},
                images: [],
                loading: true
            }
        },
        watch: {
            '$route'() {
                this.loading = true;
                this.fetchData();
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.loading = true;

                await axios.get('/api/page/about')
                    .then(res => {
                        this.page = res.data.page;
                        this.images = res.data.images;
                    })
                    .catch(err => console.log(err));

                this.loading = false;
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .section-about {
        .about-image {
            margin-bottom: 15px;

            @include xs-block {
                display: none;
            }
        }

        .content {
            margin-bottom: 15px;
        }

        .gallery {
            @include row-flex;

            .item {
                @include col;
                @include size(4);
                @include size-md(6);
                @include size-xs(12);
                margin-bottom: 15px;
            }
        }
    }

</style>