<template>
    <section class="section-cart">
        <div class="wrapper">
            <back-forward :forward="cartTotalQty ? 'checkout' : null">
                <h2 class="h2">Корзина</h2>
            </back-forward>

            <div v-if="cartTotalQty">
                <table>
                    <tr>
                        <th>#</th>
                        <th>Блюдо</th>
                        <th>Цена</th>
                        <th>Кол-во</th>
                        <th>Сумма</th>
                        <th>Удалить</th>
                    </tr>
                    <tr v-for="(dish, key, index) in cartItems">
                        <td>{{ index + 1 }}</td>
                        <td>{{ dish.item.title }}</td>
                        <td>{{ dish.item.price }} руб.</td>
                        <td>
                            <div class="qty">
                                <a href="#" @click.prevent="decreaseCartItem(key)">-</a>
                                <span>{{ dish.qty }}</span>
                                <a href="#" @click.prevent="increaseCartItem(key)">+</a>
                            </div>
                        </td>
                        <td>{{ parseFloat(dish.price).toFixed(2) }} руб.</td>
                        <td>
                            <div class="delete">
                                <a href="#" @click.prevent="deleteCartItem(key)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="total">
                        <td colspan="3">Итого:</td>
                        <td>{{ cartTotalQty }}</td>
                        <td colspan="2">{{ cartTotalPrice }} руб.</td>
                    </tr>
                </table>

                <div class="manage">
                    <a href="#" @click.prevent="clearCart()" class="clear">Очистить корзину</a>
                    <a href="#" @click.prevent="checkout()" class="order">Оформить заказ</a>
                </div>
            </div>

            <p v-else>В вашей корзине нет товаров</p>
        </div>
    </section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        metaInfo: {
            title: 'Корзина',
        },
        computed: {
            ...mapGetters([
                'cartItems',
                'cartTotalQty',
                'cartTotalPrice',
            ]),
        },
        methods: {
            ...mapActions([
                'increaseCartItem',
                'decreaseCartItem',
                'deleteCartItem',
                'clearCart',
            ]),
            checkout() {
                this.$router.push('/checkout');
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .section-cart {
        table {
            width: 100%;
            max-width: 800px;
            min-width: 300px;
            margin: 0 auto;

            tr {
                > * {
                    border: 1px solid #bbb;
                    padding: 3px 5px;
                    box-sizing: border-box;
                }

                th {
                    background-color: #ccc;
                    text-align: center;
                    font-weight: 500;
                }

                .qty {
                    display: flex;
                    justify-content: space-between;
                    align-items: stretch;
                    align-content: stretch;

                    span {
                        margin: auto 5px;
                    }

                    a {
                        display: block;
                        width: 20px;
                        height: 20px;
                        border-radius: 4px;
                        border: 1px solid #999;
                        background-color: #eee;
                        color: #444;
                        text-align: center;
                        text-decoration: none;
                        font-size: 22px;
                        line-height: 16px;
                        font-weight: 700;
                        transition: .2s all ease;

                        &:hover {
                            border-color: $myOrange;
                            color: $myOrange;
                        }
                    }
                }

                .delete {
                    text-align: center;

                    a {
                        color: #444;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: 700;
                        transition: .2s all ease;

                        &:hover {
                            border-color: $myOrange;
                            color: $myOrange;
                        }
                    }
                }

                &.total {
                    background-color: #ccc;
                    font-weight: 500;
                }
            }
        }

        .manage {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            a {
                width: 100%;
                max-width: 250px;
                border-radius: 5px;
                padding: 5px 10px;
                box-sizing: border-box;
                text-align: center;
                text-decoration: none;
                font-weight: 500;
                transition: .2s all ease;
            }

            .clear {
                border: 1px solid #999;
                background-color: #eee;
                color: #444;

                &:hover {
                    border-color: $myOrange;
                    color: $myOrange;
                }
            }

            .order {
                background-color: $myOrange;
                color: white;

                &:hover {
                    background-color: #d0562e;
                }
            }
        }

        p {
            text-align: center;
        }
    }
</style>
