<template>
    <section class="section-category">
        <loading v-if="loading"/>

        <div v-else class="wrapper">
            <back-forward back="categories">
                <h2 class="h2">{{ category.title }}</h2>
            </back-forward>

            <div class="description" v-html="category.description"></div>

            <pagination v-if="laravelData" :data="laravelData" @change-page="fetchData"/>

            <dish-items :dishes="laravelData.data"></dish-items>

            <pagination v-if="laravelData" :data="laravelData" @change-page="fetchData"/>
        </div>
    </section>
</template>

<script>
    import TitleWithNav from "./layouts/BackForward";
    export default {
        components: {TitleWithNav},
        metaInfo() {
            return {
                title: this.loading ? 'Загрузка...' : this.category.title
            }
        },
        data() {
            return {
                laravelData: {},
                category: {},
                loading: true,
            }
        },
        watch: {
            '$route'() {
                if (this.$route.name === 'category') {
                    this.loading = true;
                    this.fetchData();
                }
            },
        },
        created() {
            this.fetchData();
        },
        methods: {
            async fetchData(page = 1) {
                this.loading = true;

                await axios.get('/api/categories/' + this.$route.params.alias + '?page=' + page)
                    .then(res => {
                        this.category = res.data.category;
                        this.laravelData = res.data.dishes;
                    });

                this.loading = false;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .section-category {
        .description {
            margin-bottom: 30px;
        }
    }
</style>