<template>
    <section class="checkout">
        <div class="wrapper">
            <div class="details" v-if="cartTotalQty">
                <back-forward back="cart">
                    <h2 class="h2">Заказ на сумму: {{ cartTotalPrice }}р</h2>
                </back-forward>

                <div class="details-form">
                    <p class="title">Заполните информацию для заказа</p>
                    <form id="payment-form" @submit.prevent="payOrder">
                        <div class="form-group">
                            <label for="name">Ваше имя:</label>
                            <input id="name" v-model="name" type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail адрес:</label>
                            <input id="email" v-model="email" type="email" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Номер телефона:</label>
                            <input id="phone" v-model="phone" type="tel" required>
                        </div>
                        <div class="form-group">
                            <label>Способ получения:</label>
                            <div class="shipping">
                                <div>
                                    <input v-model="shipping" id="shipping1" type="radio" :value="0">
                                    <label for="shipping1">самовывоз</label>
                                </div>
                                <div>
                                    <input v-model="shipping" id="shipping2" type="radio" :value="1">
                                    <label for="shipping2">доставка</label>
                                </div>
                            </div>
                        </div>
                        <div v-if="shipping" class="form-group">
                            <label for="address">Алрес доставки:</label>
                            <input id="address" v-model="address" type="text" :required="shipping">
                        </div>
                        <div class="form-group">
                            <label>Способ оплаты:</label>
                            <div class="shipping">
                                <div>
                                    <input v-model="payMethod" id="payMethod1" type="radio" :value="0">
                                    <label for="payMethod1">наличными</label>
                                </div>
                                <div>
                                    <input v-model="payMethod" id="payMethod2" type="radio" :value="1">
                                    <label for="payMethod2">онлайн</label>
                                </div>
                            </div>
                        </div>
                        <div v-if="payMethod" class="stripe">
                            <label for="card-element">Кредитная карта:</label>
                            <div id="card-element"></div>
                        </div>
                        <div v-if="successOrder === false" class="form-group successError">
                            Заказ не обработан. Попробуйте еще раз.
                        </div>
                        <div class="manage">
                            <!--<a href="#" @click.prevent="clearCart" class="clear">Очистить корзину</a>-->
                            <button type="submit" class="order" :disabled="process">
                                {{ payMethod ? 'Оплатить' : 'Продолжить' }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="successOrder" v-if="successOrder">
                <p>Заказ успешно обработан.</p>
                <p v-if="paidOrder">Оплата прошла успешно.</p>
            </div>
        </div>
    </section>
</template>

<script>
    const stripe = Stripe('pk_test_ezUwK1evjVicdb29s2UoFECr');
    const elements = stripe.elements();
    const style = {
        base: {
            color: '#32325d',
            lineHeight: '18px',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px', '::placeholder': {color: '#ccc'}
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        },
    };
    const card = elements.create('card', {style});

    import {mapGetters, mapActions} from 'vuex'

    export default {
        metaInfo: {
            title: 'Оформить заказ',
        },
        data() {
            return {
                name: '',
                email: '',
                phone: '',
                shipping: 1,
                address: '',
                payMethod: 0,
                stripeToken: '',
                process: false,
            }
        },
        watch: {
            payMethod: function(val) {
                if (val) {
                    setTimeout(function () {
                        card.mount('#card-element');
                    }, 300);
                } else {
                    card.unmount('#card-element');
                }
            },
            user: function(val) {
                if (val) {
                    this.setDetails();
                }
            },
            successOrder: function (val) {
                if (val === false) {
                    setTimeout(() => {
                        this.setSuccessOrder(null);

                        this.process = false;
                    }, 2000);
                }

//                if (val) {
//                    this.
//                }
            },
        },
        mounted() {
            this.ifCartEmpty();

            if (this.user) {
                this.setDetails();
            }

            if (this.payMethod) {
                card.mount('#card-element');
            }
        },
        computed: {
            ...mapGetters([
                'user',
                'cartItems',
                'cartTotalQty',
                'cartTotalPrice',
                'successOrder',
                'paidOrder',
            ]),
        },
        methods: {
            ...mapActions([
                'payment',
                'setSuccessOrder',
            ]),
            async payOrder() {
                if (this.payMethod) {
                    const {token} = await stripe.createToken(card);
                    this.stripeToken = token.id;
                }

                this.process = true;

                let payload = {
                    name: this.name,
                    email: this.email,
                    phone: this.phone,
                    shipping: this.shipping,
                    address: this.address,
                    payment: this.payMethod,
                    amount: this.cartTotalPrice,
                    stripeToken: this.stripeToken,
                };

                this.payment(payload);
            },
            ifCartEmpty() {
                setTimeout(() => {
                    if (!this.cartTotalQty) {
                        this.$router.push('/cart');
                    }
                }, 1000);
            },
            setDetails() {
                this.name = this.user.first_name || '';
                this.email = this.user.email || '';
                this.phone = this.user.profile.phone || '';
                this.address = this.user.profile.address || '';
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";

    $myOrange: #f76341;
    $myGray: #363636;

    .StripeElement {
        background-color: white;
        padding: 20px 30px;
        border-radius: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
        width: 300px;
        margin: 10px auto;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }

    .checkout {
        .details {
            /*border: 1px solid #bbb;*/
            color: $myGray;
            padding: 10px;

            /*.order-info {*/
                /*text-align: center;*/
                /*font-size: 18px;*/
                /*font-style: italic;*/
                /*font-weight: 500;*/
                /*margin-bottom: 15px;*/
            /*}*/

            .details-form {
                .title {
                    text-align: center;
                    margin-bottom: 10px;
                    font-weight: 500;
                }

                form {
                    .stripe {
                        display: flex;

                        label {
                            display: block;
                            width: 25%;
                            text-align: right;
                            font-style: italic;
                        }
                    }

                    .form-group {
                        display: flex;
                        /*flex-wrap: wrap;*/
                        margin-bottom: 10px;

                        &.successError {
                            display: block;
                            padding: 10px;
                            text-align: center;
                            background-color: #e1a18e;
                        }

                        > * {
                            margin: 0 5px;
                        }

                        > label {
                            width: 25%;
                            text-align: right;
                            font-style: italic;
                        }

                        > input,
                        .shipping {
                            width: 75%;
                        }

                        input {
                            outline: none;
                            border: 1px solid #ccc;
                            padding: 2px 5px;
                            font-size: 14px;

                            &:focus {
                                border-color: $myOrange;
                            }
                        }

                        .shipping {
                            display: flex;
                            justify-content: space-around;

                        }
                    }
                }
            }
        }

        .manage {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            a,
            button {
                font-size: 16px;
                width: 100%;
                max-width: 250px;
                border: none;
                outline: none;
                border-radius: 5px;
                padding: 5px 10px;
                box-sizing: border-box;
                text-align: center;
                text-decoration: none;
                font-weight: 500;
                transition: .2s all ease;
            }

            .clear {
                border: 1px solid #999;
                background-color: #eee;
                color: #444;

                &:hover {
                    border-color: $myOrange;
                    color: $myOrange;
                }
            }

            .order {
                background-color: $myOrange;
                color: white;
                margin-left: auto;

                &:hover {
                    background-color: #d0562e;
                }

                &[disabled=disabled] {
                    background-color: #ccc;
                }
            }
        }
    }

    .successOrder {
        padding: 20px 30px;
        text-align: center;
        max-width: 500px;
        margin: auto;
        font-size: 22px;
        background-color: #ace1b3;
    }
</style>
