<template>
    <section class="section-cooks">
        <div class="wrapper">
            <h2 class="h2">Наши повара</h2>

            <div class="cooks">
                <div v-for="cook in cooks" :key="cook.id" :id="cook.alias"
                     :class="cook.title === 'шеф-повар' ? 'cook cook--first' : 'cook'">
                    <div class="cook__img">
                        <image-frame :src="'/img/cooks/' + cook.image"
                                     :alt="cook.full_name"
                                     ratioX="1"
                                     ratioY="1"/>
                    </div>
                    <div class="cook__content">
                        <div class="cook__name">{{ cook.full_name }}</div>
                        <div class="cook__title">{{ cook.title }}</div>
                        <div class="cook__description">{{ cook.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        metaInfo: {
            title: 'Наши повара',
        },
        computed: {
            ...mapGetters(['cooks']),
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .section-cooks {
        .cooks {
            display: flex;
            flex-direction: column;
        }

        .cook {
            @include row-flex;
            margin-bottom: 50px;
            order: 1;

            &--first {
                order: 0;
            }

            &__img {
                @include col;
                @include size(3);
                @include shift-left(1);
                @include size-md(4);
                @include size-sm(5);
                @include shift-sm-left(0);
                @include size-xs(8);
                @include shift-xs(2);

                @include xs-block {
                    margin-bottom: 10px;
                }

                /deep/ img {
                    border: 2px solid $myOrange;
                    border-radius: 50%;
                }
            }

            &__content {
                @include col;
                @include size(7);
                @include shift-right(1);
                @include size-md(6);
                @include size-sm(7);
                @include shift-sm-right(0);
                @include size-xs(12);
                display: flex;
                flex-direction: column;

                .cook__name {
                    font-size: 24px;
                    margin-bottom: 5px;

                    @include lg-block {
                        font-size: 19px;
                    }

                    @include md-block {
                        font-size: 20px;
                    }

                    @include xs-block {
                        text-align: center;
                    }
                }

                .cook__title {
                    display: block;
                    font-style: italic;
                    color: $myGray;
                    font-size: 20px;
                    margin-bottom: 20px;

                    @include lg-block {
                        font-size: 16px;
                    }

                    @include md-block {
                        font-size: 18px;
                    }

                    @include xs-block {
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }

                .cook__description {
                }
            }
        }
    }

</style>