<template>
    <section class="section-cuisine">
        <loading v-if="loading"/>

        <div v-else class="wrapper">
            <back-forward back="cuisines">
                <h2 class="h2">{{ cuisineTitle }}</h2>
            </back-forward>

            <div class="description" v-html="cuisine.description"></div>

            <pagination v-if="laravelData" :data="laravelData" @change-page="fetchData"/>

            <dish-items :dishes="laravelData.data"></dish-items>

            <pagination v-if="laravelData" :data="laravelData" @change-page="fetchData"/>
        </div>
    </section>
</template>

<script>
    export default {
        metaInfo() {
            return {
                title: this.loading ? 'Загрузка...' : this.cuisineTitle
            }
        },
        data() {
            return {
                laravelData: {},
                cuisine: [],
                loading: true,
            }
        },
        watch: {
            '$route'() {
                if (this.$route.name === 'cuisine') {
                    this.loading = true;
                    this.fetchData();
                }
            }
        },
        created() {
            this.fetchData();
        },
        computed: {
            cuisineTitle() {
                return this.cuisine.title ? this.cuisine.title + ' кухня' : '';
            }
        },
        methods: {
            async fetchData(page = 1) {
                this.loading = true;

                await axios.get('/api/cuisines/' + this.$route.params.alias + '?page=' + page)
                    .then(res => {
                        this.cuisine = res.data.cuisine;
                        this.laravelData = res.data.dishes;
                    });

                this.loading = false;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .section-cuisine {
        .description {
            margin-bottom: 30px;
        }
    }
</style>