<template>
    <section class="section-cuisine">
        <div class="wrapper">
            <h2 class="h2">Национальные кухни</h2>

            <div class="items">
                <div v-for="cuisine in cuisines" class="item" :key="cuisine.id">
                    <router-link :to="{ name: 'cuisine', params: {alias: cuisine.alias} }">
                        <div class="image">
                            <div class="overlay">
                                <p>Перейти в раздел</p>
                            </div>

                            <image-frame :src="'/img/cuisines/' + cuisine.image"
                                         :alt="cuisine.title + ' кухня'"
                                         ratioX="4"
                                         ratioY="3"/>
                        </div>
                        <div class="title side-lines">{{ cuisine.title }}</div>
                    </router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        metaInfo: {
            title: 'Национальные кухни',
        },
        computed: {
            ...mapGetters(['cuisines'])
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .section-cuisine {
        .items {
            margin-top: 30px;
            @include row-flex;

            .item {
                text-align: center;
                cursor: pointer;
                margin-bottom: 30px;
                @include col;
                @include size(3);

                @include md-block {
                    @include size(4);
                }

                @include sm-block {
                    @include size(6);
                }

                @include xs-block {
                    @include size(8);
                    @include shift(2);
                }

                @include xxs-block {
                    @include size(12);
                    @include shift(0);
                }

                &:hover {
                    .image {
                        .overlay {
                            opacity: 1;
                        }

                        /deep/ img {
                            transform: scale(1.05);
                        }
                    }
                }

                a {
                    text-decoration: none;
                    color: #000;
                }

                .image {
                    box-sizing: border-box;
                    border: 1px solid $myGray;
                    overflow: hidden;
                    position: relative;

                    .overlay {
                        background-color: rgba(255, 255, 255, .2);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                        transition: .3s all ease;

                        p {
                            padding: 8px 15px;
                            background-color: rgba(30, 30, 30, .85);
                            color: #fff;
                            font-size: 15px;
                            text-transform: uppercase;
                        }
                    }

                    /deep/ img {
                        transition: 5s transform ease;
                    }
                }

                .title {
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 3px;

                    @include md-block {
                        font-size: 17px;
                        letter-spacing: 2px;
                    }

                    @include sm-block {
                        font-size: 15px;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
</style>