<template>
    <section class="section-dish">
        <div class="wrapper">
            <h2 class="h2">Все блюда</h2>

            <pagination v-if="laravelData" :data="laravelData" @change-page="fetchData"/>

            <loading v-if="loading"/>

            <dish-items v-else :dishes="laravelData.data"/>

            <pagination v-if="laravelData" :data="laravelData" @change-page="fetchData"/>
        </div>
    </section>
</template>

<script>
    export default {
        metaInfo: {
            title: 'Все блюда',
        },
        data() {
            return {
                laravelData: {},
                loading: true,
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            async fetchData(page = 1) {
                this.loading = true;

                await axios.get('/api/dishes?page=' + page)
                    .then(res => this.laravelData = res.data)
                    .catch(err => console.log(err));

                this.loading = false;
            },
        }
    }
</script>
