<template>
    <section class="section-dish">
        <loading v-if="loading"/>

        <div v-else class="wrapper">
            <back-forward back="dishes">
                <h2 class="h2" v-if="dish">{{ dish.title }}</h2>
            </back-forward>

            <div class="dish" v-if="dish">
                <div class="image">
                    <image-frame :src="'/img/dishes/' + dish.image"
                                 :alt="dish.title"
                                 ratioX="3"
                                 ratioY="2"
                                 :imgStyle="{'border-radius': '8px'}"/>
                </div>

                <div class="info">
                    <div class="links">
                        <router-link :to="{ name: 'cuisine', params: {alias: dish.cuisine.alias} }">
                            {{ dish.cuisine.title }} кухня
                        </router-link>
                        <router-link :to="{ name: 'category', params: {alias: dish.category.alias} }">
                            {{ dish.category.title }}
                        </router-link>
                    </div>

                    <div class="description" v-html="dish.description"></div>
                    <div class="bottom">
                        <div class="price">Цена: {{ dish.price }} руб.</div>
                        <a href="#" @click.prevent="increaseCartItem(dish.id)" class="buy">
                            В корзину <span v-if="cartItemQty(dish.id)" class="cart-item-qty">{{ cartItemQty(dish.id) }}</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="recommended" v-if="recommended.length">
                <div class="title">Рекомендуемые блюда</div>

                <carousel :autoplay="true"
                          :autoplayTimeout="5000"
                          :autoplayHoverPause="true"
                          :loop="true"
                          :perPageCustom="[[0,1],[560,2],[780,3],[960,4]]">
                    <slide v-for="item in recommended" :key="item.id">
                        <div class="dish-recommended">
                            <div class="title">
                                <router-link :to="{name: 'dish', params: {id: item.id}}">
                                    {{ item.title }}
                                </router-link>
                            </div>

                            <div class="image">
                                <router-link :to="{name: 'dish', params: {id: item.id}}">
                                    <div class="overlay">
                                        <p>Посмотреть описание</p>
                                    </div>

                                    <image-frame :src="'/img/dishes/' + item.image"
                                                 :alt="item.title"
                                                 ratioX="3"
                                                 ratioY="2"
                                                 :imgStyle="{'border-radius': '8px'}"/>
                                </router-link>
                            </div>

                            <div class="links">
                                <router-link :to="{ name: 'cuisine', params: {alias: item.cuisine.alias} }">
                                    {{ item.cuisine.title }} кухня
                                </router-link>
                                <router-link :to="{ name: 'category', params: {alias: item.category.alias} }">
                                    {{ item.category.title }}
                                </router-link>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </section>
</template>

<script>
    import {Carousel, Slide} from 'vue-carousel'
    import {mapActions, mapGetters} from 'vuex'

    export default {
        components: {Carousel, Slide},
        metaInfo() {
            return {
                title: this.loading ? 'Загрузка...' : this.dish.title
            }
        },
        data() {
            return {
                dish: {},
                recommended: [],
                loading: true
            }
        },
        watch: {
            '$route'() {
                if (this.$route.name === 'dish') {
                    this.loading = true;
                    this.fetchData();
                }
            }
        },
        created() {
            this.fetchData();
        },
        computed: {
            ...mapGetters([
                'cartItems'
            ]),
        },
        methods: {
            ...mapActions([
                'increaseCartItem',
            ]),
            async fetchData() {
                await axios.get('/api/dishes/' + this.$route.params.id)
                    .then(res => {
                        this.dish = res.data.dish;
                        this.recommended = res.data.recommended;
                    })
                    .catch(err => {
                        if (err.response.status = 500) {
                            this.$router.push({name: 'dishes'})
                        }
                    });

                this.loading = false;
            },
            cartItemQty(key) {
                let item = _.find(this.cartItems, item => item.item.id === key);

                return item ? item.qty : false;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .section-dish {
        .dish {
            @include row-flex;
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 2px solid #555555;

            .image {
                @include col;
                @include size(4);
                @include size-md(5);
                @include size-sm(6);
                @include shift-sm(3);
                @include size-xs(8);
                @include shift-xs(2);

                @include sm-block {
                    margin-bottom: 20px;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                @include col;
                @include size(8);
                @include size-md(7);
                @include size-sm(12);

                .links {
                    margin-bottom: 20px;

                    a {
                        padding: 2px 6px;
                        border-radius: 5px;
                        border: 1px solid $myGray;
                        text-decoration: none;
                        color: $myGray;
                        font-size: 14px;
                        font-weight: 500;
                        font-style: italic;
                        margin-right: 15px;
                        transition: .2s all ease;

                        &:hover {
                            color: $myOrange;
                            border-color: $myOrange;
                        }
                    }
                }

                .description {
                    margin-bottom: 20px;
                }

                .bottom {
                    margin-top: auto;
                    display: flex;
                    justify-content: flex-end;

                    .price {
                        text-align: center;
                        font-size: 26px;
                        margin-right: 20px;

                        @include sm-block {
                            font-size: 24px;
                        }
                    }

                    .buy {
                        text-align: center;
                        width: 120px;
                        padding: 5px;
                        border-radius: 4px;
                        border: none;
                        outline: none;
                        color: white;
                        text-decoration: none;
                        background-color: $myOrange;
                        cursor: pointer;
                        transition: .2s all ease;

                        &:hover {
                            background-color: #e15f3c;
                        }

                        .cart-item-qty {
                            display: inline-block;
                            box-sizing: border-box;
                            border-radius: 11px;
                            font-size: 12px;
                            font-weight: bold;
                            height: 24px;
                            width: 24px;
                            background-color: white;
                            color: $myOrange;
                            line-height: 24px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .recommended {
            .title {
                text-align: center;
                font-size: 24px;
            }

            .VueCarousel {
                padding: 0;

                .VueCarousel-slide {
                    text-align: center;
                    cursor: pointer;
                    box-sizing: border-box;
                    padding: 10px;

                    .dish-recommended {
                        display: flex;
                        flex-direction: column;
                        padding: 15px;
                        height: 100%;
                        box-sizing: border-box;
                        transition: box-shadow .3s ease;
                        box-shadow: #dcdcdc 0 0 20px;

                        &:hover {
                            box-shadow: #bbb 0 0 20px;
                        }

                        .title {
                            margin-bottom: 5px;
                            box-sizing: border-box;
                            text-transform: uppercase;
                            text-align: center;
                            font-size: 15px;
                            font-weight: 700;

                            @include sm-block {
                                font-size: 15px;
                            }

                            a {
                                text-decoration: none;
                                color: #333;
                                transition: .2s all ease;

                                &:hover {
                                    color: black;
                                }
                            }
                        }

                        .image {
                            margin-top: auto;
                            margin-bottom: 5px;
                            overflow: hidden;
                            position: relative;

                            &:hover .overlay {
                                opacity: 1;
                            }

                            .overlay {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                opacity: 0;
                                transition: .3s all ease;

                                p {
                                    padding: 8px 15px;
                                    background-color: rgba(255, 255, 255, .4);
                                    color: #202020;
                                    font-size: 15px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }
                            }
                        }

                        .links {
                            box-sizing: border-box;
                            font-size: 14px;
                            font-weight: 600;
                            display: flex;
                            justify-content: space-between;

                            a {
                                text-decoration: none;
                                color: #333;
                                transition: .2s all ease;

                                &:hover {
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</style>