<template>
    <div>
        <section class="index">
            <div class="wrapper">
                <div class="index__welcome">
                    <span class="index__welcome-1 side-lines">Добро пожаловать в</span>
                    <span class="index__welcome-2">Рестораннннн</span>
                    <span class="index__welcome-3">лучших блюд мировой кухни</span>
                    <span class="index__welcome-4">с доставкой на дом</span>
                </div>
            </div>
        </section>

        <section class="section-cuisine">
            <div class="wrapper">
                <h2 class="h2">Кухни стран мира</h2>

                <carousel :autoplay="true"
                          :autoplayTimeout="5000"
                          :autoplayHoverPause="true"
                          :loop="true"
                          :perPageCustom="[[0,1],[560,2],[780,3],[960,4]]">
                    <slide v-for="cuisine in cuisines" :key="cuisine.id">
                        <router-link  :to="{ name: 'cuisine', params: {alias: cuisine.alias} }">
                            <div class="image">
                                <div class="overlay">
                                    <p>Перейти в раздел</p>
                                </div>

                                <image-frame :src="'/img/cuisines/' + cuisine.image"
                                             :alt="cuisine.title + 'кухня'"
                                             ratioX="4"
                                             ratioY="3"/>
                            </div>
                            <div class="title side-lines">{{ cuisine.title }}</div>
                        </router-link>
                    </slide>
                </carousel>

                <div class="section-description">
                    <div class="section-description-icon">
                        <img src="/img/icon-world.png" alt="icon">
                    </div>
                    <div class="section-description-text">
                        В ресторане <span>Rest </span><span class="one">One</span> Вы всегда сможете заказать вкуснейшие
                        блюда
                        мировой кухни. Вам будет предложена качественная и вкусная кухня, в которой важное место
                        уделяется
                        изысканности блюд и разнообразию вкусов.
                    </div>
                </div>
            </div>
        </section>

        <section class="section-category">
            <div class="wrapper">
                <h2 class="h2">Меню ресторана</h2>

                <carousel :autoplay="true"
                          :autoplayTimeout="5000"
                          :autoplayHoverPause="true"
                          :loop="true"
                          :perPageCustom="[[0,1],[560,2],[780,3],[960,4]]">
                    <slide v-for="category in categories" :key="category.id">
                        <router-link :to="{name: 'category', params: {alias: category.alias}}">
                            <div class="image">
                                <div class="overlay">
                                    <p>Перейти в раздел</p>
                                </div>

                                <image-frame :src="'/img/categories/' + category.image"
                                             :alt="category.title + 'кухня'"
                                             ratioX="1"
                                             ratioY="1"/>
                            </div>
                            <div class="title side-lines">{{ category.title }}</div>
                        </router-link>
                    </slide>
                </carousel>

                <div class="section-description">
                    <div class="section-description-icon">
                        <img src="/img/icon-menu.png" alt="icon">
                    </div>
                    <div class="section-description-text">
                        Меню ресторана <span>Rest </span><span class="one">One</span> включает самые популярные блюда
                        разных
                        стран мира, а так же оригинальные творения от нашего шеф-повара. В более 20 разделах нашего меню
                        Вы
                        найдете бдюда на любой вкус.
                    </div>
                </div>
            </div>
        </section>

        <section class="section-cooks">
            <div class="wrapper">
                <h2 class="h2">Наши повара</h2>

                <div class="cooks">
                    <div v-for="cook in cooks" :key="cook.id"
                         :class="cook.title === 'шеф-повар' ? 'cook cook--big' : 'cook'">
                        <div class="cook__img">
                            <img :src="'/img/cooks/' + cook.image" :alt="cook.full_name">
                        </div>
                        <div class="cook__title">{{ cook.full_name }}<span>{{ cook.title }}</span></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import {Carousel, Slide} from 'vue-carousel';
    import {mapGetters} from 'vuex';

    export default {
        components: {
            Carousel,
            Slide
        },
        metaInfo: {
            title: 'Добро пожаловать в ресторан RestOne',
            titleTemplate: null
        },
        data() {
            return {}
        },
        mounted() {
            this.marginIndex();
        },
        computed: {
            ...mapGetters([
                'cuisines',
                'categories',
                'cooks',
            ]),
        },
        methods: {
            marginIndex() {
                let headerTop = $(".header__top");
                let margin = $(".header").height() - headerTop.height();
                $(".index").css({
                    "margin-top": margin * -1,
                    "min-height": ($(window).height() - headerTop.height())
                });
            }
        }
    }


    $(function () {
        //  Margin for .index
        function marginIndex() {
            let headerTop = $(".header__top");
            let margin = $(".header").height() - headerTop.height();
            $(".index").css({
                "margin-top": ((margin) * -1),
                "min-height": ($(window).height() - headerTop.height())
            });
        }

        $(window).resize(marginIndex);
    });
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .index {
        background: url(/img/rosemary.png) 25% 60% no-repeat,
        url(/img/tomato.png) right bottom no-repeat,
        url(/img/header-back.jpg);
        background-size: 258px 398px, 188px 285px, cover;

        @include lg-block {
            background-position: 15% 50%, right bottom;
        }

        @include md-block {
            background: url(/img/header-back.jpg) center;
            background-size: cover;
        }

        &__welcome {
            text-align: center;
            max-width: 600px;
            text-transform: uppercase;
            padding: 25% 0 20px 25%;
            margin: auto;

            @include lg-block {
                padding: 25% 0 20px 25%;
            }

            @include md-block {
                padding: 30% 0 20px;
            }

            @include sm-block {
                max-width: 510px;
                padding-top: 35%;
            }

            @include xs-block {
                padding-top: 50%;
            }

            > * {
                display: block;
            }

            &-1 {
                font-size: 20px;
                letter-spacing: 3px;

                @include sm-block {
                    font-size: 18px;
                }

                @include xs-block {
                    font-size: 4.5vw;
                    letter-spacing: 2px;
                }
            }

            &-2 {
                font-size: 90px;
                font-weight: 100;
                letter-spacing: 24px;
                margin-bottom: 10px;

                @include sm-block {
                    font-size: 80px;
                    letter-spacing: 18px;
                }

                @include xs-block {
                    font-size: 15vw;
                    letter-spacing: 4px;
                }
            }

            &-3 {
                font-size: 18px;
                margin-bottom: 30px;
                letter-spacing: 4px;

                @include sm-block {
                    font-size: 17px;
                    letter-spacing: 3px;
                }

                @include xs-block {
                    font-size: 4vw;
                    letter-spacing: 2px;
                }
            }

            &-4 {
                font-size: 26px;
                letter-spacing: 5px;

                @include sm-block {
                    font-size: 24px;
                    letter-spacing: 4px;
                }

                @include xs-block {
                    font-size: 5vw;
                    letter-spacing: 2px;
                }
            }
        }
    }

    .section-cuisine,
    .section-category,
    .section-cooks {
        .VueCarousel {
            margin-bottom: 30px;
            padding: 0;

            .VueCarousel-slide {
                text-align: center;
                cursor: pointer;
                box-sizing: border-box;
                padding: 10px;

                &:hover {
                    .image {
                        .overlay {
                            opacity: 1;
                        }

                        /deep/ img {
                            transform: scale(1.05);
                        }
                    }
                }

                a {
                    text-decoration: none;
                    color: #000;
                }

                .image {
                    box-sizing: border-box;
                    border: 1px solid $myGray;
                    overflow: hidden;
                    position: relative;

                    .overlay {
                        background-color: rgba(255, 255, 255, .2);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        opacity: 0;
                        transition: .3s all ease;

                        p {
                            padding: 8px 15px;
                            background-color: rgba(30, 30, 30, .85);
                            color: #fff;
                            font-size: 15px;
                            text-transform: uppercase;
                        }
                    }

                    /deep/ img {
                        transition: 5s transform ease;
                    }
                }

                .title {
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 3px;

                    @include md-block {
                        font-size: 17px;
                        letter-spacing: 2px;
                    }

                    @include sm-block {
                        font-size: 15px;
                        letter-spacing: 0;
                    }
                }
            }
        }

        .section-description {
            @include row-flex;

            &-icon {
                @include col;
                @include size(5);
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid $myGray;
                text-align: center;
                padding: 10px;

                @include sm-block {
                    @include size(12);
                }
            }

            &-text {
                @include col;
                @include size(7);
                text-align: center;
                padding: 10px 80px;
                border-top: 2px solid $myGray;
                font-size: 30px;

                @include md-block {
                    font-size: 26px;
                    padding: 10px 20px;
                }

                @include sm-block {
                    @include size(12);
                    font-size: 24px;
                    border-top: none;
                }

                @include xs-block {
                    @include size(12);
                    font-size: 22px;
                }

                span {
                    font-weight: 500;

                    &.one {
                        color: $myOrange;
                    }
                }
            }
        }
    }

    .section-category {
        .section-description {
            &-icon {
                order: 1;
                @include sm-block {
                    order: 0;
                }
            }
        }
    }

    .section-cooks {
        .cooks {
            @include row-flex;
            align-items: center;
            @include md-block {
                align-items: flex-start;
            }
        }

        .cook {
            @include col;
            @include size(2);

            @include md-block {
                @include size(3);
                margin-bottom: 20px;
            }

            @include sm-block {
                @include size(4);
                @include shift(1);
            }

            @include xs-block {
                @include size(6);
                @include shift(0);
            }

            &__img {

                img {
                    width: 100%;
                    height: auto;
                    border: 2px solid $myOrange;
                    border-radius: 50%;
                    box-sizing: border-box;
                }
            }

            &__title {
                text-align: center;
                font-size: 24px;

                @include lg-block {
                    font-size: 19px;
                }

                @include md-block {
                    font-size: 20px;
                }

                span {
                    display: block;
                    font-style: italic;
                    color: $myGray;
                    font-size: 20px;

                    @include lg-block {
                        font-size: 16px;
                    }

                    @include md-block {
                        font-size: 18px;
                    }
                }
            }

            &--big {
                @include size(4);

                @include md-block {
                    @include size(6);
                    @include shift(3);
                    order: -1;
                }

                @include sm-block {
                    @include size(8);
                    @include shift(2);
                }

                @include xs-block {
                    @include size(10);
                    @include shift(1);
                }
            }
        }
    }

</style>