<template>
    <section class="section-page">
        <div class="wrapper">
            <loading v-if="loading"/>

            <template v-else>
                <h2 v-if="page" class="h2">{{ page.title }}</h2>

                <div v-if="page" class="content" v-html="page.content"></div>
            </template>
        </div>
    </section>
</template>

<script>
    export default {
        metaInfo() {
            return {
                title: this.page.title || 'Загрузка...'
            }
        },
        data() {
            return {
                page: {},
                images: [],
                loading: true
            }
        },
        watch: {
            '$route'() {
                this.loading = true;
                this.fetchData();
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            async fetchData() {
                this.loading = true;

                await axios.get('/api/page/' + (this.$route.name || this.$route.path.slice(1)))
                    .then(res => {
                        if (res.data.page) {
                            this.page = res.data.page;
                            this.images = res.data.images;
                        } else {
                            this.$router.push('404');
                        }
                    })
                    .catch(err => console.log(err));

                this.loading = false;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .section-page {
        .content {
            /deep/ p {
                * {
                    font-size: 17px;
                }

                strong {
                    font-weight: 700;
                }

                em {
                    font-style: italic;
                }
            }
        }
    }

</style>