<template>
    <section class="section-reviews">
        <div class="wrapper">
            <h2 class="h2">Отзывы</h2>

            <pagination v-if="laravelData" :data="laravelData" @change-page="fetchData"/>

            <loading v-if="loading"/>

            <div v-else class="reviews">
                <div v-for="review in laravelData.data" :key="review.id" class="review">
                    <div class="content">
                        <div class="photo">
                            <image-frame :src="'/img/users/avatars/' + review.user.profile.avatar"
                                         :alt="review.user.first_name"
                                         ratioX="1"
                                         ratioY="1"
                                         :imgStyle="{borderRadius: '50%', border: '1px solid #ccc'}"/>

                            <div class="name">{{ review.user.first_name }}</div>
                        </div>

                        <div class="body">
                            <div class="rating">
                                <span v-for="val in 5" :class="['fa', 'fa-star', val <= review.rating ? 'checked' : '']"></span>
                            </div>

                            <div class="text">{{ review.text }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <pagination v-if="laravelData" :data="laravelData" @change-page="fetchData"/>

            <div v-if="user && !user.review" class="buttons">
                <button class="edit-btn" @click.prevent="$modal.show('review')">
                    Оставить отзыв
                </button>
                <review-modal/>
            </div>
        </div>
    </section>
</template>

<script>
    import ReviewModal from './layouts/modals/ReviewModal';
    import {mapGetters} from 'vuex';

    export default {
        components: {ReviewModal},
        metaInfo: {
            title: 'Отзывы наших клиентов'
        },
        data() {
            return {
                laravelData: {},
                loading: true,
            }
        },
        created() {
            this.fetchData();
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        },
        methods: {
            async fetchData(page = 1) {
                this.loading = true;

                await axios.get('/api/reviews?page=' + page)
                    .then(res => this.laravelData = res.data)
                    .catch(err => console.log(err));

                this.loading = false;
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../sass/smart-grid";
    @import "../../../sass/variables";

    .section-reviews {
        .reviews {
            @include row-flex;

            .review {
                @include size(8);
                @include shift(2);
                @include size-sm(10);
                @include shift-sm(1);
                @include size-xs(12);
                @include shift-xs(0);
                margin-bottom: 20px;
                transition: box-shadow .3s ease;
                box-shadow: #dcdcdc 0 0 20px;

                &:hover {
                    box-shadow: #bbb 0 0 20px;
                }

                .content {
                    @include row-flex;
                    padding: 15px;
                    box-sizing: border-box;
                    align-items: center;

                    .photo {
                        @include col;
                        @include size(4);
                        @include size-xxs(8);
                        @include shift-xxs(2);

                        .name {
                            text-align: center;
                            font-size: 18px;
                            font-weight: 600;
                            color: $myGray;

                        }
                    }

                    .body {
                        @include col;
                        @include size(8);
                        @include size-xxs(12);
                        padding: 20px;
                        text-align: center;

                        .rating {
                            margin-bottom: 15px;

                            .fa.fa-star {
                                color: #ccc;
                                margin: 0 2px;

                                &.checked {
                                    color: $myOrange;
                                }
                            }
                        }

                        .text {

                            @include xxs-block {
                                padding: 20px 0;
                            }
                        }
                    }
                }

            }
        }

        .buttons {
            text-align: center;
            margin-top: 20px;

            .edit-btn {
                padding: 5px 10px;
                background-color: #fff;
                border: 1px solid $myGray;
                cursor: pointer;
                transition: all ease .15s;

                &:hover {
                    border-color: $myOrange;
                    color: $myOrange;
                }
            }
        }
    }

</style>