<template>
    <div class="back-forward-nav">
        <div v-if="back || forward" class="nav">
            <router-link v-if="back" :to="{ name: back }">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </router-link>
        </div>
        <div class="center">
            <slot></slot>
        </div>
        <div v-if="back || forward" class="nav">
            <router-link v-if="forward" :to="{ name: forward }">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            back: {
                type: String,
                default() {
                    return null;
                }
            },
            forward: {
                type: String,
                default() {
                    return null;
                }
            }
        },
        computed: {
            history() {
                return window.history.length > 1
            }
        },
        methods: {}
    }
</script>

<style lang="scss" scoped>
    @import "../../../../sass/smart-grid";
    @import "../../../../sass/variables";

    .back-forward-nav {
        display: flex;
        justify-content: space-between;

        .nav {
            width: 50px;
            height: 50px;

            i {
                color: #666;
                font-size: 50px;
                text-align: center;
                line-height: 48px;
                cursor: pointer;
                transition: color .15s ease;

                &:hover {
                    color: #000;
                }
            }
        }

        .center {
            flex-grow: 1;
        }
    }
</style>