<template>
    <div class="dishes">
        <div v-for="dish in dishes" :key="dish.id" class="dish">
            <div class="title">
                <router-link :to="{name: 'dish', params: {id: dish.id}}">
                    {{ dish.title }}
                </router-link>
            </div>

            <div class="image">
                <router-link :to="{name: 'dish', params: {id: dish.id}}">
                    <div class="overlay">
                        <p>Посмотреть описание</p>
                    </div>

                    <image-frame :src="'/img/dishes/' + dish.image"
                                 :alt="dish.title"
                                 ratioX="3"
                                 ratioY="2"
                                 :imgStyle="{'border-radius': '8px'}"/>
                </router-link>
            </div>

            <div class="links">
                <router-link :to="{ name: 'cuisine', params: {alias: dish.cuisine.alias} }">
                    {{ dish.cuisine.title }} кухня
                </router-link>
                <router-link :to="{ name: 'category', params: {alias: dish.category.alias} }">
                    {{ dish.category.title }}
                </router-link>
            </div>

            <div class="bottom">
                <div class="price">{{ dish.price }} руб.</div>
                <a href="#" @click.prevent="increaseCartItem(dish.id)" class="buy">
                    В корзину <span v-if="cartItemQty(dish.id)" class="cart-item-qty">{{ cartItemQty(dish.id) }}</span>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'

    export default {
        props: ['dishes'],
        computed: {
            ...mapGetters([
                'cartItems'
            ]),
        },
        methods: {
            ...mapActions([
                'increaseCartItem',
            ]),
            cartItemQty(key) {
                let item = _.find(this.cartItems, item => item.item.id === key);

                return item ? item.qty : false;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../sass/smart-grid";
    @import "../../../../sass/variables";

    .dishes {
        @include row-flex;

        .dish {
            @include col;
            @include size(4);
            @include size-md(6);
            @include shift-xs(1);
            @include size-xs(10);
            @include shift-xs(0);
            @include size-xs(12);
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            padding: 15px;
            box-sizing: border-box;
            transition: box-shadow .3s ease;
            box-shadow: #dcdcdc 0 0 20px;

            &:hover {
                box-shadow: #bbb 0 0 20px;
            }

            .links {
                margin-bottom: 20px;
                box-sizing: border-box;
                font-size: 15px;
                font-weight: 600;
                display: flex;
                justify-content: space-between;

                a {
                    text-decoration: none;
                    color: #333;
                    transition: .2s all ease;

                    &:hover {
                        color: black;
                    }
                }
            }

            .image {
                margin-top: auto;
                margin-bottom: 5px;
                overflow: hidden;
                position: relative;

                &:hover .overlay {
                    opacity: 1;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: .3s all ease;

                    p {
                        padding: 8px 15px;
                        background-color: rgba(255, 255, 255, .4);
                        color: #202020;
                        font-size: 15px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
            }

            .title {
                margin-bottom: 5px;
                box-sizing: border-box;
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                font-weight: 700;

                @include sm-block {
                    font-size: 15px;
                }

                a {
                    text-decoration: none;
                    color: #333;
                    transition: .2s all ease;

                    &:hover {
                        color: black;
                    }
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;

                .price {
                    text-align: center;
                    font-size: 26px;

                    @include sm-block {
                        font-size: 20px;
                    }
                }

                .buy {
                    text-align: center;
                    width: 120px;
                    padding: 5px;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                    color: white;
                    text-decoration: none;
                    background-color: $myOrange;
                    cursor: pointer;
                    transition: .2s all ease;

                    &:hover {
                        background-color: #e15f3c;
                    }

                    .cart-item-qty {
                        display: inline-block;
                        box-sizing: border-box;
                        border-radius: 11px;
                        font-size: 12px;
                        font-weight: bold;
                        height: 24px;
                        width: 24px;
                        background-color: white;
                        color: $myOrange;
                        line-height: 24px;
                        text-align: center;
                    }
                }
            }
        }
    }
</style>