<template>
    <div class="image-frame"
         :style="{paddingBottom: paddingBottom + '%'}">
        <img :src="src" :alt="alt" :style="imgStyle">
    </div>
</template>

<script>
    export default {
        props: ['src', 'alt', 'ratioY', 'ratioX', 'imgStyle'],
        computed: {
            paddingBottom() {
                return 100 / this.ratioX * this.ratioY;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .image-frame {
        position: relative;
        box-sizing: border-box;
        height: 100%;

        img {
            top: 0;
            bottom: 0;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            box-sizing: border-box;
        }
    }
</style>