<template>
    <div class="loading">
        <hollow-dots-spinner
                :animation-duration="1500"
                :dot-size="15"
                :dots-num="5"
                color="#f76341"
        />
    </div>
</template>

<script>
    import HollowDotsSpinner from "epic-spinners/src/components/lib/HollowDotsSpinner";

    export default {
        components: {HollowDotsSpinner},
    }
</script>

<style lang="scss" scoped>
    .loading {
        width: 100%;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>