<template>
    <header class="header">
        <div class="header__top">
            <div class="wrapper">
                <div class="contacts">
                    <div class="phone"><span></span>+375 (29) 111-11-11</div>
                    <div class="email"><span></span>info@rest-one.by</div>
                </div>

                <div v-if="user" class="user">
                    <!--<a v-if="user.role === 'admin'" href="/admin">Админка</a>-->
                    <router-link :to="{name: 'user'}" class="user-link">
                        <div class="user-avatar">
                            <image-frame
                                :src="'/img/users/avatars/' + (user.profile.avatar ? user.profile.avatar : 'no-avatar.png')"
                                alt="Аватар"
                                ratioY="1"
                                ratioX="1"/>
                        </div>
                        {{ user.first_name }}
                    </router-link>
                    <a @click.prevent="logout" href="#">Выйти</a>
                </div>

                <div v-else class="auth">
                    <span class="auth-link" @click="$modal.show('login')">Вход</span>
                    <login-modal/>

                    <span class="auth-link" @click="$modal.show('register')">Регистрация</span>
                    <register-modal/>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <nav class="top-nav">
                <nav-menu nav="top_nav"/>
            </nav>

            <div class="header__nav-hidden">
                <button @click="showMenu = !showMenu" class="nav-open-btn">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <button @click="showMenu = !showMenu" :class="['nav-close-btn', showMenu ? 'show' : '']">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <nav :class="['side-nav', showMenu ? ' show' : '']">
                    <nav-menu nav="side_nav"/>
                </nav>
            </div>

            <router-link :to="{ name: 'cart' }" class="cart-btn">
                <div class="cart-btn__qty">{{ cartTotalQty }}</div>
                <div v-if="cartTotalPrice" class="cart-btn__price">{{ parseFloat(cartTotalPrice).toFixed(2) }}
                    руб
                </div>
                <img src="/img/cart.png" alt="Корзина">
            </router-link>
        </div>
    </header>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import NavMenu from './NavMenu';
    import LoginModal from './modals/LoginModal';
    import RegisterModal from './modals/RegisterModal';

    export default {
        components: {NavMenu, LoginModal, RegisterModal},
        data() {
            return {
                showMenu: false,
            }
        },
        computed: {
            ...mapGetters([
                'cartItems',
                'cartTotalQty',
                'cartTotalPrice',
                'user',
            ]),
        },
        methods: {
            ...mapActions(['logout'])
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../sass/smart-grid";
    @import "../../../../sass/variables";

    .header {
        &__top {
            background-color: $myGray;

            > div {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                @include xs-block {
                    justify-content: center;
                }
            }

            .contacts {
                color: #bbb;
                display: flex;
                margin: 3px 0;
                font-size: 15px;

                @include xs-block {
                    flex-basis: 100%;
                    justify-content: space-around;
                    font-size: 14px;
                    margin-top: 2px;
                    margin-bottom: 0;
                }

                @include xxs-block {
                    justify-content: space-between;
                    font-size: 13px;
                    margin-top: 2px;
                    margin-bottom: 0;
                }

                > * {
                    margin: 0 6px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: all .5s ease;

                    @include xs-block {
                        margin: 0;
                    }

                    &:hover {
                        color: #fff;

                        span {
                            transform: scale(1.2);

                            @include xs-block {
                                transform: scale(1);
                            }
                        }
                    }

                    span {
                        display: inline-block;
                        margin-right: 5px;
                        transition: all .5s ease;

                        @include xs-block {
                            margin-right: 0;
                            transform: scale(.8);
                        }

                        @include xxs-block {
                            margin-right: 0;
                            transform: scale(.7);
                        }
                    }
                }

                .phone {
                    margin-right: 15px;

                    @include xs-block {
                        margin-right: 4px;
                    }

                    span {
                        width: 18px;
                        height: 26px;
                        background: url(/img/phone_icon.png) no-repeat;
                        background-size: 100% 100%;
                    }
                }

                .email {
                    span {
                        width: 26px;
                        height: 18px;
                        background: url(/img/email_icon.png) no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }

            .user {
                display: flex;
                align-items: center;
                margin: 5px 0;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 15px;
                    margin: 0 6px;
                    transition: .15s all ease;

                    &:hover {
                        .user-avatar {
                            border: 2px solid $myOrange;
                        }
                        color: $myOrange;
                    }
                }

                .user-link {
                    font-weight: 600;
                    display: flex;
                    align-items: center;

                    .user-avatar {
                        width: 30px;
                        height: 30px;
                        margin-right: 5px;
                        border-radius: 50%;
                        box-sizing: border-box;
                        overflow: hidden;
                        transition: .15s all ease;
                    }
                }
            }

            .auth {
                display: flex;
                align-items: center;

                .auth-link {
                    color: white;
                    font-weight: 600;
                    margin: auto 6px;
                    cursor: pointer;
                    transition: .15s all ease;

                    &:hover {
                        color: $myOrange;
                    }

                    @include xs-block {
                        margin-top: 0;
                        margin-bottom: 5px;
                    }
                }

                .v--modal-overlay {
                    background: rgba(0, 0, 0, .9);
                }
            }
        }

        > .wrapper {
            position: relative;
        }

        &__nav-hidden {
            display: none;
            position: absolute;
            top: 35px;
            left: 35px;

            @include sm-block {
                display: block;
            }

            @include xs-block {
                left: 15px;
            }

            button {
                background: none;
                border: none;
                outline: none;
                padding: 0;
                margin: 0;

                &.nav-open-btn {
                    font-size: 35px;
                    color: $myGray;
                    cursor: pointer;
                }

                &.nav-close-btn {
                    display: none;
                    position: fixed;
                    width: 220px;
                    top: 40px;
                    left: -220px;
                    z-index: 101;
                    text-align: center;
                    transition: .5s all ease;

                    @include sm-block {
                        display: block;
                    }

                    &.show {
                        left: 0;
                    }

                    i {
                        font-size: 26px;
                        transition: .15s all ease;
                        color: $myGray;

                        &:hover {
                            color: $myOrange;
                        }
                    }
                }
            }
        }

        .cart-btn {
            position: absolute;
            display: block;
            right: 10px;
            top: 35px;

            @include md-block {
                top: 110px;
            }

            @include sm-block {
                right: 35px;
                top: 45px;
            }

            @include xs-block {
                right: 15px;
            }

            &__qty {
                position: absolute;
                color: white;
                left: 17px;
                top: 1px;
                width: 24px;
                height: 20px;
                border-radius: 10px;
                background-color: $myOrange;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                text-align: center;
            }

            &__price {
                position: absolute;
                top: 35px;
                left: -23px;
                width: 70px;
                font-size: 13px;
                font-weight: 500;
                text-align: right;
                color: #000;
            }
        }
    }
</style>