<template>
    <ul>
        <template v-for="link in current">
            <li v-if="link.type === 'url'">
                <a :href="link.url">{{ link.url_title }}</a>
            </li>
            <router-link v-else-if="link.type === 'page'"
                         :to="{ path: link.page.alias === '/' ? '/' : '/' + link.page.alias }"
                         exact-active-class="link-active"
                         tag="li">
                <a>{{ link.page.title }}</a>
            </router-link>
            <li v-else-if="link.type === 'submenu'">
                <button class="submenu-btn">
                    {{ link.submenu_title }}
                    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </button>
                <nav-menu :nav="nav" :level="link.id"/>
            </li>

            <template v-if="nav === 'top_nav'">
                <div v-if="isLogoShow(link)" class="top-nav-logo">
                    <router-link :to="{ name: 'home' }">
                        <img src="/img/logo.png" alt="Rest ONE">
                    </router-link>
                </div>
            </template>
        </template>
    </ul>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'nav-menu',
        props: {
            level: {
                type: Number,
                default: 0
            },
            nav: {
                type: String
            }
        },
        data() {
            return {}
        },
        computed: {
            ...mapGetters([
                'menus'
            ]),
            current() {
                let current = _.filter(this.menu.items, item => parseInt(item.parent_id) === this.level);

                return _.sortBy(current, 'weight');
            },
            menu() {
                return _.find(this.menus, ['alias', this.nav]);
            }
        },
        methods: {
            isLogoShow(link) {
                return parseInt(link.parent_id) === 0
                    && parseInt(link.weight) === Math.round(this.current.length / 2);
            },
        }
    }
</script>