<template>
    <ul class="pagination" v-if="data.total > data.per_page">
        <li class="item prev">
            <a class="link" href="#" v-if="data.prev_page_url" @click.prevent="selectPage(--data.current_page)">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
        </li>
        <li class="item page" v-for="page in getPages()" :class="{ 'active': page === data.current_page }">
            <a class="link" href="#" @click.prevent="selectPage(page)">{{ page }}</a>
        </li>
        <li class="item next">
            <a class="link" href="#" v-if="data.next_page_url" @click.prevent="selectPage(++data.current_page)">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</template>

<script>
    export default {
        props: {
            data: {
                type: Object,
                default: function() {
                    return {
                        current_page: 1,
                        data: [],
                        from: 1,
                        last_page: 1,
                        next_page_url: null,
                        per_page: 10,
                        prev_page_url: null,
                        to: 1,
                        total: 0,
                    }
                }
            },
            limit: {
                type: Number,
                default: 0
            }
        },
        methods: {
            selectPage(page) {
                if (page === '...') {
                    return;
                }

                this.$emit('change-page', page);
            },
            getPages() {
                if (this.limit === -1) {
                    return 0;
                }

                if (this.limit === 0) {
                    return this.data.last_page;
                }

                let current = this.data.current_page,
                    last = this.data.last_page,
                    delta = this.limit,
                    left = current - delta,
                    right = current + delta + 1,
                    range = [],
                    pages = [],
                    l;

                for (let i = 1; i <= last; i++) {
                    if (i === 1 || i === last || (i >= left && i < right)) {
                        range.push(i);
                    }
                }

                range.forEach(function (i) {
                    if (l) {
                        if (i - l === 2) {
                            pages.push(l + 1);
                        } else if (i - l !== 1) {
                            pages.push('...');
                        }
                    }
                    pages.push(i);
                    l = i;
                });

                return pages;
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../sass/smart-grid";
    @import "../../../../sass/variables";

    .pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        .item {
            margin: 0 5px;

            &.active {
                .link {
                    background-color: $myOrange;
                    color: white;

                    &:hover {
                        font-weight: normal;
                        color: white;
                    }
                }
            }

            &.prev,
            &.next {
                width: 30px;
                height: 30px;

                .link {
                    font-size: 28px;
                    line-height: 28px;
                }
            }

            .link {
                border-radius: 50%;
                display: block;
                height: 30px;
                width: 30px;
                text-align: center;
                line-height: 30px;
                box-sizing: border-box;
                text-decoration: none;
                color: #666;
                transition: all .15s ease;

                &:hover {
                    font-weight: bold;
                    color: #000;
                }
            }
        }
    }
</style>