<template>
    <div class="preloader">
        <atom-spinner
                :animation-duration="2000"
                :size="120"
                color="#f76341"
        />
    </div>
</template>

<script>
    import AtomSpinner from "epic-spinners/src/components/lib/AtomSpinner";

    export default {
        components: {AtomSpinner},
    }
</script>

<style lang="scss" scoped>
    .preloader {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #444;
    }
</style>