<template>
    <div v-if="order">
        <back-forward back="userOrders">
            <p class="user-page-title">Заказ #{{ order.id }}</p>
        </back-forward>

        <div class="table">
            <table>
                <tr>
                    <th>№</th>
                    <th>Блюдо</th>
                    <th>Цена</th>
                    <th>Кол-во</th>
                    <th>Сумма</th>
                </tr>
                <tr v-for="(dish, key, index) in order.cart.items" :key="key">
                    <td>{{ index + 1 }}</td>
                    <td>
                        <router-link :to="{name: 'dish', params:{id: key}}">{{ dish.item.title }}</router-link>
                    </td>
                    <td>{{ dish.item.price }} руб.</td>
                    <td>{{ dish.qty }}</td>
                    <td>{{ parseFloat(dish.price).toFixed(2) }} руб.</td>
                </tr>
                <tr class="total">
                    <td colspan="3">Итого:</td>
                    <td>{{ order.cart.totalQty }}</td>
                    <td>{{ parseFloat(order.cart.totalPrice).toFixed(2) }} руб.</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        data() {
            return {
                order: null,
            }
        },
        created() {
            this.order = _.find(this.user.orders, (order) => {
                return order.id == this.$route.params.id;
            });

            if (!this.order) {
                this.$router.push({name: 'userOrders'});
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ])
        },
    }
</script>