<template>
    <div v-if="user">
        <template v-if="user.orders.length">
            <p class="user-page-title">Мои заказы</p>

            <div class="table">
                <table>
                    <tr>
                        <th>№</th>
                        <th>Кол-во блюд</th>
                        <th>Всего товаров</th>
                        <th>Сумма зааза</th>
                        <th>Доставка</th>
                        <th>Оплата</th>
                        <th></th>
                    </tr>
                    <tr v-for="order in user.orders" :key="order.id">
                        <td>#{{ order.id }}</td>
                        <td>{{ count(order.cart.items) }}</td>
                        <td>{{ order.cart.totalQty }}</td>
                        <td>{{ parseFloat(order.cart.totalPrice).toFixed(2) }} руб.</td>
                        <td align="center">{{ parseInt(order.details.shipping) ? 'Да' : 'Нет' }}</td>
                        <td align="center">{{ parseInt(order.details.status) ? 'Неоплачено' : 'Оплачено' }}</td>
                        <td class="show">
                            <router-link :to="{name: 'userOrder', params: {id: order.id}}">Подробнее</router-link>
                        </td>
                    </tr>
                </table>
            </div>
        </template>

        <p v-else class="info-order">У вас нет активных заказов</p>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        computed: {
            ...mapGetters([
                'user',
            ])
        },
        methods: {
            count(collection) {
                return _.size(collection);
            }
        }
    }
</script>