<template>
    <div v-if="user">
        <p class="user-page-title">Контактная информация</p>

        <div class="user-container">
            <div class="info">
                <div class="items">
                    <div class="item">
                        <p class="title">E-mail: </p>
                        <p class="text">{{ user.email }}</p>
                    </div>
                    <div class="item" v-if="user.new_email">
                        <p class="new-email">
                            Вы указали <b>{{ user.new_email.email }}</b> в качестве нового email адреса.
                            На ваш текущий email было выслано письмо со ссылкой подтверждения.
                        </p>
                    </div>
                    <div class="item">
                        <p class="title">Мобильный телефон: </p>
                        <p class="text">{{ user.profile ? user.profile.phone : '' }}</p>
                    </div>
                    <div class="item">
                        <p class="title">Адрес доставки: </p>
                        <p class="text">{{ user.profile ? user.profile.address : '' }}</p>
                    </div>
                </div>

                <div class="buttons">
                    <button class="edit-btn" @click.prevent="$modal.show('contacts')">
                        Редактировать контакты
                    </button>
                    <user-contacts-modal/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import UserContactsModal from '../layouts/modals/UserContactsModal';

    export default {
        components: {UserContactsModal},
        computed: {
            ...mapGetters([
                'user',
            ]),
        },
    }
</script>

<style lang="scss" scoped>
    @import "../../../../sass/smart-grid";
    @import "../../../../sass/variables";

    .user-container {
        .info {
            @include size(8);
            @include shift(2);
            @include size-md(10);
            @include shift-md(1);
            @include size-sm(12);
            @include shift-sm(0);

            .items {
                .item {
                    .title {
                        @include xs-block {
                            width: 100%;
                            text-align: left;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
</style>