<template>
    <section class="section-user">
        <div class="wrapper">
            <h2 class="h2">Кабинет пользователя</h2>

            <div v-if="user" class="links">
                <router-link :to="{name: 'user'}" class="link">Профиль</router-link>
                <router-link :to="{name: 'userContacts'}" class="link">Контакты</router-link>
                <router-link :to="{name: 'userOrders'}" class="link">Заказы</router-link>
                <a v-if="user.role === 'admin'" href="/admin" class="link">Админка</a>
            </div>

            <div v-if="user" class="user-page-content">
                <transition name="fade" mode="out-in">
                    <router-view v-if="$route.name"></router-view>
                </transition>
            </div>
        </div>
    </section>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        metaInfo: {
            title: 'Кабинет пользователя',
        },
        data() {
            return {}
        },
        created() {
            if (this.user === null) {
                this.$router.push({name: 'home'});
            }
        },
        watch: {
            user(val) {
                if (val === null) {
                    this.$router.push({name: 'home'});
                }
            }
        },
        computed: {
            ...mapGetters([
                'user'
            ]),
        },
        methods: {
            ...mapActions([]),
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../sass/smart-grid";
    @import "../../../../sass/variables";

    .section-user {
        .fade-enter-active, .fade-leave-active {
            transition: opacity .1s ease;
        }
        .fade-enter, .fade-leave-to {
            opacity: 0;
        }

        .links {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            @include xs-block {
                justify-content: center;
            }

            .link {
                width: 80px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                padding: 5px 10px;
                margin: 0 5px 10px;
                border: 1px solid $myGray;
                color: $myGray;
                transition: all ease .15s;

                &:hover,
                &.router-link-exact-active {
                    color: $myOrange;
                    border-color: $myOrange;
                }
            }
        }

        .user-page-content {
            /deep/ .user-page-title {
                font-size: 30px;
                text-transform: uppercase;
                font-weight: 100;
                text-align: center;
                letter-spacing: 8px;
                margin-bottom: 20px;
            }

            /deep/ .table {
                width: 100%;
                overflow-x: hidden;
                -webkit-overflow-scrolling:touch;

                &:hover {
                    overflow-x: scroll;
                }

                table {
                    width: 100%;
                    max-width: 800px;
                    min-width: 300px;
                    margin: 0 auto;

                    tr {
                        > * {
                            border: 1px solid #bbb;
                            padding: 3px 5px;
                            box-sizing: border-box;
                        }

                        th {
                            background-color: #ccc;
                            text-align: center;
                            font-weight: 500;
                        }

                        td {
                            &.show {
                                text-align: center;

                                a {
                                    padding: 0 5px;
                                    border: 1px solid #444;
                                    border-radius: 4px;
                                    transition: .2s all ease;

                                    &:hover {
                                        border-color: $myOrange;
                                    }
                                }
                            }

                            a {
                                color: #444;
                                text-decoration: none;
                                font-weight: 600;
                                transition: .2s all ease;

                                &:hover {
                                    color: $myOrange;
                                }
                            }
                        }
                    }
                }
            }

            .user-container {
                @include row-flex;

                .info {
                    @include col;
                    display: flex;
                    flex-direction: column;

                    .items {
                        margin-bottom: 20px;

                        .item {
                            color: $myGray;
                            font-style: italic;
                            padding: 8px 0;
                            display: flex;
                            flex-wrap: wrap;

                            &:nth-of-type(2n+1) {
                                border-radius: 6px;
                                background-color: #eee;
                            }

                            .title {
                                display: inline-block;
                                width: 35%;
                                min-width: 170px;
                                text-align: right;
                                margin-right: 15px;
                                font-weight: 500;
                                font-style: normal;
                            }

                            .text {

                            }

                            .new-email {
                                border-radius: 6px;
                                padding: 5px;
                                background-color: #b0ffbc;
                                text-align: center;
                            }
                        }
                    }

                    .buttons {
                        margin-top: auto;
                        text-align: center;
                    }
                }

                .edit-btn {
                    padding: 5px 10px;
                    background-color: #fff;
                    border: 1px solid $myGray;
                    cursor: pointer;
                    transition: all ease .15s;

                    &:hover {
                        border-color: $myOrange;
                        color: $myOrange;
                    }
                }
            }
        }
    }
</style>