<template>
    <div v-if="user">
        <p class="user-page-title">Личные данные</p>

        <div class="user-container">
            <div class="avatar">
                <div class="container">
                    <image-frame
                            :src="'/img/users/avatars/' + (user.profile.avatar ? user.profile.avatar : 'no-avatar.png')"
                            alt="Аватар"
                            ratioY="1"
                            ratioX="1" />
                </div>

                <button class="edit-btn" @click.prevent="$modal.show('avatar')">Изменить фото</button>
                <user-avatar-modal/>
            </div>

            <div class="info">
                <div class="items">
                    <div class="item">
                        <p class="title">Имя: </p>
                        <p class="text">{{ user.first_name }}</p>
                    </div>
                    <div class="item">
                        <p class="title">Фамилия: </p>
                        <p class="text">{{ user.last_name }}</p>
                    </div>
                    <div class="item">
                        <p class="title">Логин: </p>
                        <p class="text">{{ user.login }}</p>
                    </div>
                </div>

                <div class="buttons">
                    <button class="edit-btn" @click.prevent="$modal.show('profile')">
                        Редактировать данные
                    </button>
                    <user-profile-modal/>

                    <button class="edit-btn" @click.prevent="$modal.show('password')">
                        Изменить пароль
                    </button>
                    <user-password-modal/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import UserAvatarModal from '../layouts/modals/UserAvatarModal';
    import UserProfileModal from '../layouts/modals/UserProfileModal';
    import UserPasswordModal from '../layouts/modals/UserPasswordModal';

    export default {
        components: {UserAvatarModal, UserProfileModal, UserPasswordModal},
        computed: {
            ...mapGetters([
                'user',
            ]),
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../../sass/smart-grid";
    @import "../../../../sass/variables";

    .user-container {
        .avatar {
            @include col;
            @include size(4);
            @include size-sm(6);
            @include shift-sm(3);
            @include size-xs(8);
            @include shift-xs(2);
            @include size-xxs(12);
            @include shift-xxs(0);
            display: flex;
            flex-direction: column;
            align-items: center;
            @include sm-block {
                margin-bottom: 30px;
            }

            .container {
                width: 100%;
                max-width: 250px;
                height: 100%;
                max-height: 250px;
                margin-bottom: 20px;

                /deep/ .image-frame {
                    img {
                        border-radius: 50%;
                        border: 1px solid $myGray;
                    }
                }
            }

            .edit-btn {
                margin-top: auto;
            }
        }

        .info {
            @include size(8);
            @include size-sm(10);
            @include shift-sm(1);
            @include size-xs(12);
            @include shift-xs(0);

            .items {
                .item {
                    .title {
                        @include xxs-block {
                            width: 100%;
                            text-align: left;
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .buttons {
                .edit-btn {
                    margin-bottom: 5px;
                }
            }
        }
    }
</style>